[2019-04-12 19:52] cdiener commented on #836
DOIs also allow slashes in ids.

[2019-04-12 20:18] matthiaskoenig commented on #836
Will fix this over the weekend.

[2019-04-15 12:16] matthiaskoenig commented on #836
@cdiener I commited a bugfix for this.

You should use the `https://identifiers.org/` prefix instead of `http://identifiers.org/` in the model. These identifiers will resolve faster, because you don't need additional redirects (http->https). EBI switched to https some time ago. I am not issuing a warning for that, but I think it is better practice to use the encrypted resources whenever possible.

[2019-04-15 15:12] matthiaskoenig opened #837 "model.annotation not stored on write_sbml_model"
Currently, the model.annotation information is not stored on SBML export.

[2019-04-15 21:07] hvdinh16 opened #838 "Inconsistency in finding blocked reactions"
For the function cobra.flux_analysis.find_blocked_reactions:

If the function is implemented by the scripts below, the number of blocked reactions will be miscalculated, only specific for GLPK solver and not for Gurobi or CPLEX:
from cobra.flux_analysis import find_blocked_reactions
from cobra.io import read_sbml_model
config = cobra.Configuration()
config.solver = 'glpk'
model = read_sbml_model('

[2019-04-16 04:48] cdiener commented on #836
Cool thanks. I agree with the https but that's not my model, it's one of the AGORA models :smile:

[2019-04-17 08:09] #724 closed

[2019-04-17 08:09] #836 closed

[2019-04-17 08:09] #837 closed

[2019-04-17 08:11] Midnighter commented on #831
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-04-17 08:41] matthiaskoenig opened #839 "SBML testing/installation issues with python 3.7 (wheels missing)"
There are currently some issues with python 3.7 wheels of libsbml.
This results in long running (failing) travis jobs and very long installation times.

See also discussion in
https://groups.google.com/forum/#!topic/libsbml-development/HDbs3K0mm2o
There is a new release around the corner, update of libsbml dependencies will solve this issue.

[2019-04-17 10:28] Midnighter commented on #839
I have pinned python-libsbml-experimental to 5.17.2 for now in order to make a release on Travis. When this issue is resolved we need to remove the version pin.

[2019-04-17 13:11] migp11 opened #840 "Error in validate_sbml_model (sbml.py)"
#### Problem description
 I was validating a model and got the following error:

   1460             errors["SBML_FATAL"].append(msg)
   1461         elif sev == libsbml.LIBSBML_SEV_ERROR:
-> 1462             errors["SBML_ERROR"].append(msg)
   1463         elif sev == libsbml.LIBSBML_SEV_SCHEMA_ERROR:
   1464             errors["SBML_SCHEMA_ERROR"].append(msg)

KeyError: 'SBML_ERROR'

* **what**

[2019-04-23 08:55] matthiaskoenig commented on #840
@migp11 Thanks for the detailed report. This will be fixed with the next bugfix release. Sorry for the late reply, somehow missed the email

[2019-04-23 09:30] matthiaskoenig commented on #839
@Midnighter This is working now for me locally with update of libSBML to the release from yesterday. All tests passing locally with
[code]

[2019-04-23 14:39] matthiaskoenig opened #843 "Problems checking for some stoichiometries in SBML reading"
This is a bug in the attribute checking code.
[code]

[2019-04-23 14:45] matthiaskoenig commented on #843
This is due to stochiometric coefficients of `0` and `0.0` in combination with an incorrect test.
E.g.
[code]

[2019-04-23 15:07] matthiaskoenig opened #844 "Read SBML models with missing flux bounds"
SBML parser is currently to strict on missing flux bounds.

[2019-04-24 15:50] matthiaskoenig opened #845 "Read models with invalid SBML identifiers"
Many models in the field are just invalid SBML. One major reason for this are invalid SBML identifiers (which will create a multitude of problems). Currently, models with invalid SBML ids are not read in cobrapy.
The parser could be more robust and give such invalid models a chance, by fixing the ids on import.

[2019-04-25 09:09] matthiaskoenig commented on #845
There is no simple way to fix this. Everything relies on ids. The minimal requirement for an SBML file is to have valid ids. Most errors can be tolerated, but incorrect ids are very hard to fix from within the parser. In reality such models are broken, nobody can expect such models to be read. The models have to be fixed.

[2019-04-26 14:38] #822 closed

[2019-04-26 14:38] #839 closed

[2019-04-26 14:38] #840 closed

[2019-04-26 14:38] #843 closed

[2019-04-26 14:38] #844 closed

[2019-04-26 16:24] migp11 commented on #840
Great! I'm glad to contribute ;-)

[2019-05-01 21:33] matthiaskoenig commented on #702
This was fixed in the recent release 0.15.3 (just forgot to close this issue).
Please open a new issue if there are problems with `validate_sbml_model`.

[2019-05-01 21:33] #702 closed

[2019-05-07 14:02] donghyukPDSE opened #846 "[Question] "ImportError: No module named" fva error"
#### Problem description
fva question!

I'm really first time to use cobrapy and python.
While I'm trying to do fva, there is problem with invalid argument and " ImportError: No module named <input>"
I think I probably did not understand language of python, but I cannot fix it..
It would be pleasure to help me!
Thank you!

#### Code Sample
model = cobra.io.read_sbml_model( "iJO1366.xml")
fva = flu

[2019-05-07 14:33] taylo5jm commented on #846
I believe this might be an issue with the way that parallel processing in Python differs between windows and Unix systems. I'm not sure if the `flux_variability_analysis` function will work with the default arguments if you are using it interactively on windows, because the default settings will try to use more than one CPU.

If you are using the function in the python console, try to set `process

[2019-05-07 15:11] taylo5jm opened #847 "Should the default processes value be the maximum number of CPUs on a machine?"
In the current version of cobrapy, the default `processes` attribute of the `Configuration` object is often set to the output of `multiprocessing.cpu_count` function. This behavior results in setting the `processes` attribute to the maximum number of CPUs that are available on a machine.

I think this behavior can be convenient for some, but could be confusing to others. For example, I have seen a

[2019-05-07 15:22] donghyukPDSE commented on #846
Thank you Soooooo MUCH!!!:)
Oh and also the explanation of mulitprocessing.
Thank you for helping me to figure it out.

[2019-05-07 15:22] #846 closed

[2019-05-07 15:32] Midnighter commented on #847
I don't have a clear opinion on the matter. In the issue you're referring to #846 the problem is that you cannot interactively run multiprocessing on Windows. This had not occurred if the global configuration default was 1.

Then again, almost all modern computers have more than 1 core. So we might be wasting potential if we choose a default of 1 and users do not use the `processes` argument of fu

[2019-05-09 20:36] taylo5jm commented on #847
I understand the perspective that it could be a waste of potential to set the default `processes` value to 1. I know some people that have moved away from Chrome due to its greedy behavior. On the other hand, I am sure that I would be frustrated if Chrome was constrained to 1 CPU.

Thinking about this some more, I'm realizing that the choice of default will be somewhat arbitrary. Nonetheless, half

[2019-05-10 07:46] Midnighter commented on #847
Yes, please feel free to go ahead with a PR :slightly_smiling_face:

[2019-05-13 18:26] zakandrewking commented on #760
I have a related use case that supports adopting compartments as a first-class entity.

We are trying to use COBRApy as much as we can within our web-based reconstruction tool. This has worked great so far – no need to reimplement I/O, support for standards, mass balance calculations, etc.

However, for GUI-directed model editing, users need to be able to add compartments _before_ those compartmen

[2019-05-16 00:19] wrshoemaker opened #848 "Change reaction rate"
Hello,

I've gone through the documentation and I could not find a straightforward way to change the rate of a reaction. I'm looking to model the effects of mutation on a metabolic network and I found how to remove and reverse reactions, but not how to change the reaction rate by a small amount. Perhaps this option is in the documentation using different terminology, but I did not see it.

Best,
W

[2019-05-16 07:53] Midnighter commented on #848
It's not explicit enough in the docs. Just like you would modify bounds in order to reverse a reaction, you can use it to enforce a certain minimum flux or restrict the maximum possible flux, for example,

[code]

enforces a minimum flux of 0.5 mmol / gDW / h through PFK in forward direction and a maximum on that.

[code]

enforces a maximum flux of 1 mmol / gDW / h.

Hope that helps

[2019-05-16 07:53] #848 closed

[2019-05-17 06:29] wrshoemaker commented on #848
That's very helpful. Thank you for the clarification.

[2019-05-20 06:44] mashnoon1234 commented on #490
@hredestig the solution didn't work for me.

[2019-05-20 07:35] Midnighter commented on #490
Hi @mashnoon1234, can you open a new issue with a detailed description of your problem, please? This issue is from two years ago and cobra is now at version 0.15.3.

[2019-05-28 00:30] Midnighter opened #849 "Cannot swap co-factor pairs of a model reaction within a context"
#### Problem description

I would like to reversibly (within a context) swap co-factors. This unexpectedly results in a `KeyError`.

#### Code Sample

[code]

#### Actual Output

[code]

#### Expected Output

Should just work as it does when not in a context.

#### Dependency Information

<details>

System Information
==================
OS                     Linux
OS-release 4.15.0-50-generic
Pyt

[2019-05-29 06:55] matthiaskoenig opened #850 "Error encountered trying to `set model history` when writing SBML"
There is a known bug when writing the model history. This results in an error in the log
[code]
This does not affect the model in any way, but is only about writing provenance which is currently only experimental. This error can be savely ignored.

This depends on #810, i.e., how and what meta information to store on the model. As long as there is no decision on #810 it is not clear what the corre

[2019-06-03 09:05] prashantbajpai commented on #850
Hi Matthias,
It seems the model is being affected. While reading the model, I am getting the following error:
[code]
Here is my model and this is what I did:
[mitocore_updated_15_04.xml.tar.gz](https://github.com/opencobra/cobrapy/files/3246714/mitocore_updated_15_04.xml.tar.gz)

[code]
Please let me know what I am doing wrong. I did try validating it with ```validate_sbml_model``` but it seems to

[2019-06-03 09:27] matthiaskoenig commented on #850
Hi @prashantbajpai,
thanks for reporting this. I am very sure this is an unrelated bug.

My first intuition is that the problem is that your model is invalid, more specifically has invalid ids.
If you run the model through the SBML validator you see that you have invalid ids in your model (as stated in the error message `Most likely the SBML model is not valid. Please check that your model is vali

[2019-06-03 09:33] prashantbajpai commented on #850
Thanks Matthias. I will correct the model IDs. However, If model IDs is the issue, why does running ``` mymodel = cobra.io.read_sbml_model("mitocore_updated_15_04.xml")``` doesn't throw an error? I get the error only after writing it and reading again.

[2019-06-03 10:02] matthiaskoenig opened #851 "Invalid GeneProduct (and probably Gene ids) don't give Error on read_sbml_model"
Currently, only species and reactions provide information on invalid SBML as Error on reading. This must be extended to all SBase objects, otherwise invalid ids are are dropped which affects the model.

See more detailed discussion in #850.

[2019-06-03 10:03] matthiaskoenig commented on #850
@prashantbajpai Yes, this is indeed a bug. You should get this information as error on model reading. I opened an issue for that in #851.

[2019-06-03 10:55] matthiaskoenig commented on #851
This is due to changes in behavior of `getId` in libsbml.
[code]
This requires some update of code to use `getIdAttribute` and `setIdAttribute`. On the upside we can now access the invalid SBML ids and autofix some of them, which allows to tackle #845.

[2019-06-03 10:55] matthiaskoenig commented on #845
There is now a simple way to access the invalid SBML ids.

[2019-06-04 08:40] matthiaskoenig opened #853 "Drop python 2 support"
Hi all,
can we drop python 2 support.

Most major libraries are starting to drop python 2 already, e.g. scipy, pandas, ...
https://docs.scipy.org/doc/scipy/reference/release.1.3.0.html

I just ran into issues getting the appveyor build running due to scipy not supporting py27 any more:
https://ci.appveyor.com/project/cobrapy39491/cobrapy/build/job/3ek340bwmslb6l91
which do not pass anymore.

The P

[2019-06-04 13:52] Midnighter commented on #853
Totally agreed. Also in the last user survey Python 2 users were in the minority. I originally meant to couple this with the 1.0 release but there is still a lot of work left to do there.

[2019-06-05 15:53] cdiener commented on #847
I would even go for `cores - 1`, since you usually want as much oomph for the computation as possible without freezing your system. Memory requirements are also something to consider. Multiprocessing pickles the entire environment and reloads into each new process. For larger models this can lead to significant memory usage.

[2019-06-06 12:20] Midnighter commented on #847
What's your experience here @cdiener? With parallel FVA for example, I see near linear in performance up to 4 processes (the physical number of cores on my machine) after that I see sub-linear gains. Due to Intel's hyperthreading the number reported by `cpu_count()` on my system is 8. So for me, the above `//2` is actually the sweet spot without locking down my entire system.

[2019-06-06 16:33] cdiener commented on #847
For server CPUs I see speed up even for hyperthreads. For desktop systems I still do but its definitely less after you reach the real number of CPUs. But that is a good point, even though I would not like to lock in the hyperthreads logic into cobrapy since that only applies to a particular set of CPUs.

[2019-06-06 16:45] Midnighter commented on #847
Apparently, [`psutil.cpu_count(logical=False)`](https://psutil.readthedocs.io/en/latest/index.html?highlight=cpu_count#psutil.cpu_count) is the physical number of cores. I'm not sure it's worth adding psutil as a dependency just for this.

A separate point is that we should also care for the number of CPUs allotted to the program (`len(os.sched_getaffinity(0))`). Especially on clusters, this is li

[2019-06-07 07:51] matthiaskoenig commented on #847
Hi all,
We have to ask what our users are:
- [1] modelers and biologists with minor experience in parallelization (they just want to run the model and algorithms as fast as possible (without freezing there system ;)
- [2] high-performance users which want to get out every last-bit of performance most likely on clusters and larger workstation setups.

For [1] we should have a setup which is at a sw

[2019-06-09 20:28] Rakshith-Manandi commented on #691
I'm trying to load an SBML model and I get the following error:

OptimizationError: solver status is 'unbounded'

Any idea on how to solve this?

[2019-06-09 22:37] cdiener commented on #691
This error is unrelated to the previous thread but means that your model has no bounds set and the maximum growth rate would be infinity. You will need to set bounds on at least your import reactions to get something that can be optimized. Feel free to open a new issue or use Gitter in case you continue having problems.

[2019-06-11 04:01] crockeraw opened #854 "Building a model requires Gurobi"
Hi all,

I want to build a new model, and I don't intend to use gurobi for solver.
When I run `model = Model("new")` I get the error:

I have set Model.solver = "glpk".
Any ideas as to why I am seeing this error? Thanks!

[2019-06-11 15:27] Midnighter commented on #854
In cobrapy we try to automatically choose the "best" solver available. So you have two options:

1. You can uninstall gurobipy from the Python environment. This is probably not what you want to do.
2. You can configure another solver which will be respected by newly created models:

[code]

Whatever you set in the configuration is also valid for loading models from JSON or SBML.

[2019-06-11 15:42] crockeraw commented on #854
Thanks!

[2019-06-11 15:42] #854 closed

[2019-06-12 16:31] synchon commented on #586
Any new thoughts on this? I can take up this issue if no one is working on it currently. :)

[2019-06-13 19:50] matthiaskoenig commented on #586
I like the idea. Not much else to say. Please go for it.

[2019-06-17 08:52] matthiaskoenig opened #856 "JSON format does not support -inf/inf bounds"
Trying to convert models with -inf/inf bounds to json fails with
[code]
-inf/inf values are not JSON serializable, consequently such models can currently not correctly be represented in JSON.

[2019-06-17 09:02] matthiaskoenig opened #857 "`set_missing_flux_bounds` not respected when reading SBML models"
The SBML parser has a setting to set missing flux bounds to the values specified in the `cobra.configuration.Configuration` object.

In the default setting `set_missing_bounds` no bounds should be injected, but some inf/-inf are written due to incorrect check.

[2019-06-17 09:09] matthiaskoenig opened #858 "`reaction.build_reaction_from_string` sets incorrect flux bounds"
Functions which set flux bounds in the model must use the default bounds defined in the configuration object. This is not the case for `reaction.build_reaction_from_string` which sets -1000, 1000.
[code]

[2019-06-19 10:04] synchon opened #859 "Remove `objective_coefficient` in Reaction __init__()"
Setting `objective_coefficient` in `cobra.core.reaction.Reaction.__init__()` is not permitted and raises `NotImplementedError`. I think we can lose this to make the `__init__()` a bit cleaner.

[2019-06-19 17:02] Midnighter opened #860 "Fail to read SBML model without XML header"
I'm not necessarily saying that we should (since it's broken XML) but pre 0.15 we were parsing SBML files that lacked a header such as `<?xml version='1.0' encoding='utf-8' standalone='no'?>` without problems but now that we solely rely on libsbml we cannot. Opinions?

[2019-06-21 15:06] Patrickens opened #861 "While flux-sampling, reverse fluxes are always 0"
#### Problem description

I would like to sample forward and reverse fluxes separately. For a reversible reaction `v: A <=> B` that carries forward flux `v` and backward flux `v_reverse` the net flux is defined as `vn=v-v_reverse`. The forward and backward fluxes are constrined individually: `0.0<v< 100.0` and `0.0<v_reverse<100.0`. Next, I set upper and lower bounds on the **net** forward and bac

[2019-06-21 16:51] cdiener commented on #861
As mentioned in Gitter this is for now intended behavior:

All samplers only sample uniformly in the flux space, but not in the variable (or irreversible flux space). This is kind of done on purpose since it is faster and has better convergence (since the sampling space is much smaller). This is implemented in the search directions. If you check out sampler.warmup you will see that the reverse var

[2019-06-21 17:20] cdiener commented on #838
Could you follow the issue template and provide more info? What exactly does "wrong" mean? Do you get more blocked reactions in the first case? You are setting a zero_cutoff that is an order of magnitude larger than the solver tolerance. So you will call reactions blocked even if they have evidence for non-zero flux.

However, there is a potential caveat here. Basically if your zero tolerance is s

[2019-06-21 20:44] Midnighter commented on #838
That should actually already be handled adequately by the `normalize_cutoff` function.
https://github.com/opencobra/cobrapy/blob/4808655418bc88f98c63eaaf76302cb13a93b818/cobra/flux_analysis/variability.py#L242

[2019-06-22 14:44] Patrickens commented on #861
Thanks for the response! Ill sample the net fluxes and separately generate samples with forward and reverse fluxes. I consider this issue closed, since I agree that it is a somewhat uncommon use case and because of the problems you mentioned with sampling in extra dimensions.

[2019-06-22 14:44] #861 closed

[2019-06-22 19:07] cdiener commented on #861
Cool, if you still need that I'm happy to help out with code examples for the suggested solutions.

[2019-06-23 20:41] matthiaskoenig commented on #860
If the file is not valid xml we cannot guarantee to read it (most other tools will also fail).
It would be the similar if you have a json without opening and closing brackets, i.e., without `{` and `}`.
Nobody would expect that this can be read.

[2019-06-23 20:44] matthiaskoenig commented on #858
This is also a very nice first issue for anyone interested.
Just requires to replace the -1000 and 1000 with the values for upper and lower bounds read from `cobra.configuration`.
If nobody is interested I will fix this in a few days.

[2019-06-24 08:10] Midnighter commented on #860
Agreed, let's go with that until a very good reason to change it comes up.

[2019-06-24 08:10] #860 closed

[2019-06-25 15:03] jtyurkovich commented on #789
Another similar use-case to consider here: [this model was just published](https://www.frontiersin.org/articles/10.3389/fmicb.2019.01283/full) online today. There are 3 reactions for which `model.lb == model.ub` -- meaning that cobrapy yields the error `AssertionError: lower bound is greater than upper` when I try to load it in.

Because I can't load this SBML model into cobrapy at all, I am force

[2019-06-25 17:55] cdiener commented on #789
This last one seems to be a different issue and seems to be a parsing bug. Would you mind opening a new issue with a reproducible example?

[2019-06-25 19:44] Midnighter opened #862 "Equal reaction bounds lead to AssertionError"
Another similar use-case to consider here: [this model was just published](https://www.frontiersin.org/articles/10.3389/fmicb.2019.01283/full) online today. There are 3 reactions for which `model.lb == model.ub` -- meaning that cobrapy yields the error `AssertionError: lower bound is greater than upper` when I try to load it in.

Because I can't load this SBML model into cobrapy at all, I am force

[2019-06-25 19:46] Midnighter commented on #862
I cannot reproduce this with the latest cobra version. Equal bounds are possible and should be possible.

[code]

[2019-06-25 20:01] Midnighter commented on #862
I just loaded the model that you linked as well. I get a few warnings but no errors. Please try again after upgrading cobra.

@matthiaskoenig one warning I get is:
[code]
is that something we should support? I haven't looked specifically at what they use it for.

[2019-06-26 05:21] sumanasri opened #863 "how to tell optimizer not to guess from previous solution and start afresh"
Hi, I need to run the model fresh every time in a loop as I am giving different constraints. I do not want to load the model inside the loop since it would take a long time to execute. Is there a method I can call to tell the optimizer not to use the solutions from the previous run. I tried resetting solution.fluxes = 0 and even solution = 0 at the end of the loop but that doesn't work. How do I t

[2019-06-26 07:14] matthiaskoenig commented on #789
Duplicate ids are a serious issue and should be fixed on the model building side. Most tools will have problems with them because they store things internally as a hashmap or map information on the ids.
If your ids would be isolated information this would be no issue, you would just do simple replace on the ids. But the ids are referenced within the model, so that ambiguity is introduced which can

[2019-06-26 07:18] Midnighter commented on #863
Hi @sumanasri, unfortunately this functionality is not consistently exposed to the Python APIs of the various solvers that optlang supports (GLPK, CPLEX, Gurobi). Which solver are you working with?

[2019-06-26 07:19] sumanasri commented on #863
GLPK..

[2019-06-26 07:45] matthiaskoenig commented on #862
@Midnighter The warning can be safely ignored.

What happens in the parser is that it looks for all additional packages which are registered in the model. The warning just list the packages cobrapy does not use any infomation from. It is just to inform the user that there is additional information in the model, but cobrapy is not making any use of it at the moment.
Examples are for instance `layou

[2019-06-26 07:59] matthiaskoenig commented on #863
@sumanasri This is not a bug this is an underlying problem with FBC and constraint-based models in general! You just discovered the dark secret of `multiple optima` and `non-uniqueness` of fbc solutions.
Your model is underdetermined, consequently it can have multiple equally valid solutions. As a consequence it depends on the start values and the actual solver which results you will get. Your sim

[2019-06-26 09:26] Midnighter commented on #863
Specifically, if you want to follow up on the points that Matthias has discussed, the following function might be useful to you:

* `from cobra.sampling import sample`
* `from cobra.util import add_lexicographic_constraints`
* `from cobra.flux_analysis import geometric_fba`
* `from cobra.flux_analysis import flux_variability_analysis`

[2019-06-26 09:37] sumanasri commented on #863
@matthiaskoenig I was pondering about this and I too felt the same way that it may be the case that is happening here.  Actually, I am looking at some average specific fluxes of 5000 simulated cell lines, so it is okay for it to not to reproduce the cases. In fact a cell's initial condition cannot be fully quantified. While the constraints are randomly picked by my algorithm, I didn't know about t

[2019-06-26 10:38] Midnighter commented on #863
It sounds like sampling might be the right answer for you.

[2019-06-26 10:42] sumanasri commented on #863
Ok. I shall take a look at the cobra.sampling interface. Thanks.

[2019-06-26 14:31] cdiener commented on #863
Copying the model will rebuild the silver object and thus acts as a reset. This will be consistent across all solvers.

So `model = model.copy()` will effectively reset the solver.

There are other solver-specific ways to do so quicker but they are not consistent across solvers as mentioned by @Midnighter.

[2019-06-26 20:31] jtyurkovich commented on #862
Apologies -- you're right, I was using a slightly older version of cobrapy. I should've checked that before posting on here (my fault).

I also cannot replicate my original error after upgrading cobrapy to the latest version.

Thanks for the help!

[2019-06-26 20:40] Midnighter commented on #862
Glad it's sorted out :slightly_smiling_face:

[2019-06-26 20:40] #862 closed

[2019-06-27 07:03] sumanasri commented on #863
Thank you for all the suggestions.

[2019-06-27 09:02] #863 closed

[2019-06-27 09:03] Midnighter commented on #863
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-06-27 11:40] Midnighter opened #865 "Error in loopless FVA"
#### Problem description

It seems like the loopless FVA code is not robust against infeasible solutions when it comes to the Gurobi solver. It does not happen with the GLPK solver although many solutions are infeasible or the status is undefined. CPLEX seems also fine.

#### Code Sample

Download the [yeast-GEM 8.3.3](https://github.com/SysBioChalmers/yeast-GEM/releases/tag/v8.3.3).

[code]

####

[2019-06-27 16:36] hvdinh16 commented on #838
Hi,

I have run the analysis again and the comparisons in the attached ipython notebook (
[blocked_reactions-2019-06-27.zip](https://github.com/opencobra/cobrapy/files/3335745/blocked_reactions-2019-06-27.zip)) and shown below.

When switch to glpk, a warning of "solver status is 'infeasible'" is raised. find_blocked_reactions's results depend on the two steps of model.slim_optimize() and flux_var

[2019-06-27 17:46] cdiener commented on #838
Hi, thanks for the additional info. Unfortunately I can't reproduce your error even if I use the model you uploaded:

[code]

The problem is definitely in the infeasible warning you get (and I don't). This should not happen and will screw up `find_blocked_reactions` so the differences don't surprise me. We should add an error message here.

Could you try to update cobrapy and all of its dependenci

[2019-06-27 18:03] hvdinh16 commented on #826
Hi,

As indicated in #835 , this issue #826 is fixed. However, I tested them and there are still bug in the write_sbml_model. Below are the scripts that I used to test and here's the model ([iRhto1108C.zip](https://github.com/opencobra/cobrapy/files/3336073/iRhto1108C.zip))

[code]

[code]

[code]

[code]

    1111

[code]

[code]

[code]

    1111

[code]

    RLFC2O_m
    (rt8275 or rt4871) and

[2019-06-27 18:24] cdiener commented on #865
Actually, it's more disconcerting to me that the other solvers don't raise an error. Loopless FVA will definitely not work when your model is infeasible and any result you would get from that is probably meaningless. Also getting infeasible solutions if your initial model was feasible is a bug *per se* but may happen due to numerical instabilities. The original solution is always a feasible soluti

[2019-06-27 18:43] cdiener commented on #826
I can't reproduce that on my end. There are differences in the rule strings but those are just additional spaces. Semantically all rules look the same:

[code]

[2019-06-27 18:44] hvdinh16 commented on #826
I just realize the issue might lie in the libSBML package directly. As printed in the above comment, the issue seems to be due to occur whenever GPRs have bracket "(", ")". When putting space into the cobrapy model's GPR,  "( ", " )", the issue is fixed.

[2019-06-27 19:41] hvdinh16 commented on #838
Hi. The updates are for following packages: cobra (0.15.1 -> 0.15.3), numpy (1.16.2 -> 1.16.4), python-libsbml-experimental (5.17.2 -> 5.18.0), and ruamel.yaml (0.15.89 -> 0.15.97). The issue persists.

cobra was downloaded by cloning devel branch from github and installed by "python setup.py develop". I ran on ubuntu 18.04.2 (few months ago, it had been 16.04). All python packages are in a virtua

[2019-06-28 08:08] Midnighter commented on #865
I suppose issuing a warning and maintaining the loop is the safest option?

Please go ahead :slightly_smiling_face:

[2019-06-28 19:45] #845 closed

[2019-06-28 19:45] #851 closed

[2019-06-29 14:31] MaxGreil commented on #858
I can have a go at it.

[2019-07-01 07:30] matthiaskoenig commented on #853
Perhaps we could set a date or version for this, i.e. clearly stating something along the line: The cobrapy `0.15.*` releases will be the last versions with python2 support. Starting from `0.16.*` on python2 support will be dropped.

[2019-07-01 12:56] alvipa opened #867 "Confused with stoichiometry in reversible reactions"
#### Problem description

Testing the stoichiometry of a reversible reaction, it seems Cobrapy doesn't detect the correct coefficient of each metabolite for the real sense of the flux, but it understands the coefficient of a metabolite as this is write literally in the reaction, as a product or as a reactant.

Next, I show an example for two reversible reactions that have the same flux but opposit

[2019-07-01 13:10] matthiaskoenig commented on #867
Flux is always relative to the direction in which the reaction was defined. I.e. every reaction has reactants and products with their respective stoichiometric coefficients. Flux through the reaction is relativ to this direction, i.e., if the flux is > 0 it is in direction reactants -> products, if flux is < 0 the reaction has a |flux| in the reaction from products -> reactants (the minus states b

[2019-07-01 14:44] Midnighter commented on #853
Sounds good. Where do you think we should state this? README, message on import, or somewhere else?

[2019-07-01 19:50] cdiener commented on #856
The [JSON spec](https://tools.ietf.org/html/rfc7159#section-6) does not allow infinity values so those should be converted to `null`.

[2019-07-02 06:46] matthiaskoenig commented on #856
Sounds like a good solution.
Just have to make sure that the JSON importer and exporter are handling the conversions. There could still exist some strange corner cases were we loose information, e.g. somebody decided to have bounds of `(-INF, -INF)` or `(INF, INF)` (not sure why, but is a valid LP).
The `cobrapy-json-cobrapy` roundtrip would be `(-INF, -INF) -> (null, null) -> (-INF, INF)`. We sho

[2019-07-02 07:28] Midnighter commented on #856
Another option is to transform it to a string since Python is perfectly capable of parsing `float("inf")`, `float("-inf")`, or even `float("nan")`.

[2019-07-02 07:33] matthiaskoenig commented on #856
My hope was that there is something like a JSON schema for the cobrapy/bigg/escher JSON format which would allow validation against the schema (or at least I read some rumors in some other issues here which discussed version 1 and version of 2 of the JSON format).
Most likely the bounds would be restricted to float/double in the schema, so that schema validation would fail against the "inf" or "-i

[2019-07-02 08:00] Midnighter commented on #856
The rumors are true :laughing: https://github.com/opencobra/cobrapy/blob/374ebfed7345eef6b32d8b7e6311676cb6232b17/cobra/io/json.py#L141

The current JSON schema desperately needs an update anyway in order to accommodate groups and compartments. So it wouldn't be a problem to change that part of the bounds.

[2019-07-02 08:10] matthiaskoenig commented on #853
README, release notes, import warning.

Especially the import warning is important for python 2 which notifies about dropping python 2 support and that newer versions could be available for py3 (without such a warning think that they have the latest version, but in reality only have the latest version supporting py2).

[2019-07-02 17:02] cdiener commented on #856
I don't think any of the solvers support that. The internal handling is that variables with lower bounds of -inf or upper bounds of inf simply don't get constraints. An upper bound of -inf however is not possible with either GLPK, Gurobi or Cplex. So I would simply disallow that case in general.

[2019-07-03 17:59] synchon opened #868 "Fix broken docs"
The current state of docs is broken. It would be great to fix it ASAP.

[2019-07-04 08:23] matthiaskoenig commented on #867
@alvipa Did this solve your issue? If you have any questions just ask.

This is one of the things which you just have to wrap your head around. Reactions are defined in a given reaction, flux is always relative to this direction. Change in metabolites is `- relative flux * stoichiometric_coefficient` for reactants and `relative flux * stoichiometric_coefficient` for products of an reaction.

Pleas

[2019-07-05 08:33] #858 closed

[2019-07-05 12:36] Karrenbelt opened #869 "cannot write test models"
#### Problem description & Code Sample

libsbml error trying to set model history when attempting to write the test models to a file for 'textbook' and 'ecoli' model, fine for 'salmonella'

[code]

#### Actual Output

Error encountered trying to <set model history>.
LibSBML error code -5: The object passed as an argument to the method is not of a type that is valid for the operation or kind of obj

[2019-07-05 15:06] Midnighter commented on #869
Duplicate of #850. It is only an error message. It still works fine.

[2019-07-05 15:06] #869 closed

[2019-07-07 17:44] MaxGreil commented on #859
@synchon can you please tell me what exactly needs to be done in this issue?

[2019-07-07 21:16] matthiaskoenig commented on #867
Closing this for now. Please reopen this issue if things are unclear.

[2019-07-07 21:16] #867 closed

[2019-07-08 16:45] synchon commented on #859
Yeah sure. So, if you look at the definition of `cobra.core.reaction.Reaction`, you would find this in the `__init__` method:
[code]
The `objective_coefficient` argument, as of now, is only there to raise `NotImplementedError` when trying to set it to anything other than 0. So, removing it won't cause any harm but clear up a bit of code. So, you just need to remove it.

[2019-07-08 20:05] #859 closed

[2019-07-11 20:45] cdiener opened #872 "Behavior of Gene.functrional and Reaction.functional is unclear"
#### Problem description

Setting `Gene.functional` does currently not trigger side effects. This leads to reactions with `rxn.functional == False` that still carry flux. The use case for that should be described better and documented or the attribute should be made private.

#### Code Sample

[code]

#### Actual Output

ENO carries flux.

#### Expected Output

ENO should not carry flux since the

[2019-07-12 09:02] pbordron opened #875 "https://cobrapy.readthedocs.io is out of date"
#### Problem description

The documentation proposed at https://cobrapy.readthedocs.io is out of date.
Some functions have changed, have been added or have been removed form cobrapy since

As building the documentation produces some errors due to some missing dependencies in its config file. I propose the PR https://github.com/opencobra/cobrapy/pull/874 to solve the related issue.

I hope that htt

[2019-07-18 11:12] sumanasri opened #877 "Loopless solution not working with glpk"
HI, I tried getting a loopless solution with CycleFreeFlux approach but it does not remove the loop from the flux distributuion. I tried the Schellenber et. al. “classical” loopless formulation but it exits without doing anything when I use it with glpk solver.

.....some code..........
print("Objective "+objective_name)
with model:
    add_loopless(model)
    try:
        sol = model.optimize()

[2019-07-18 19:39] Midnighter commented on #877
If it doesn't print anything that means your program did not execute that line. I don't know how that might happen. This is also not the complete script so it's hard to tell what is going on. Please also note that if your objective is part of a loop, that loop cannot be broken.

[2019-07-18 22:18] cdiener commented on #877
Agreed, we would need a [reproducible example](https://stackoverflow.com/help/mcve) to help out here. The Schellenberger method works for me:

[code]

[2019-07-19 05:42] sumanasri commented on #877
Thanks for your response. I will try debugging it with  a smaller example.

[2019-07-19 06:02] sumanasri commented on #877
It does give an optimal solution. But in my case, the loop has not been removed. Will debug further. Please close this issue. I will reopen it if I have problems.

[2019-07-19 07:48] #877 closed

[2019-07-19 09:49] matthiaskoenig opened #878 "Identifiers.org new identifiers pattern not working"
Due to recent changes in identifiers.org identifiers pattern, the new pattern annotations will not be read correctly (both forms will occur in models)
I.e. the following must be supported when handling annotations

- http://identifiers.org/chebi/CHEBI:17234
- https://identifiers.org/chebi/CHEBI:17234
- https://identifiers.org/CHEBI:17234

For more infomration see:
https://registry.identifiers.org/

[2019-07-22 17:44] bdelepine opened #879 "Silent drop of complex fbc:geneProductAssociation logic on SBML export"
#### Problem description

Hello guys,

I was playing around with iJO1366 and COBRApy import/export features when I noticed that GPR having a mix of AND and OR logic are silently dropped on SBML export. I would have expected the logic to be exported without trouble as it is a valid SBML+fbc format.

HTH, best,

#### Code Sample

Taking [ACGAptspp as an example, you can see on BiGG](http://bigg.ucsd

[2019-07-22 17:58] bdelepine commented on #879
Actually, this might be worse than that since other parts of the file are missing.

[code]

I get the #850 error and then a traceback:

[code]

And when I check the SBML, surprisingly enough, this is true, the 'id' attribute disappeared:
[code]

I'm not sure the two problems are related. I think this depends on the model; I was able to read/write other models without that much troubles earlier tod

[2019-07-23 11:11] matthiaskoenig commented on #879
Hi @bdelepine,
I will have a look at this in the next few hours.

I am pretty sure the problem is due to invalid ids in the original model (i.e. the model is not a valid SBML model because the ids are not valid ids). Consequently, the ids cannot be written out and information associated with the respective objects cannot be stored in SBML.

I will add an error on SBML export which will tell you wh

[2019-07-23 14:17] matthiaskoenig commented on #879
I just checked your example and I get the following error message when trying to write the SBML file, which is exactly stating what is wrong with the model in respect to the ids:
[code]
results in
[code]
The id is not written because the id is not valid.

You cannot read the model again, because it is invalid due to missing ids, i.e.,
[code]
results in
[code]
The problem is that the model in the c

[2019-07-23 16:14] matthiaskoenig opened #880 "Inconsistent bounds in core.Reaction constructor"
The reaction constructor looks as follows:
[code]
Because of `lower_bound=0.0` and `upper_bound=None` the bounds are set by default to
`0.0, config.upper_bound`.
This is probably not what was intended. The constructor should probably be `lower_bound=None, upper_bound=None`.

Not sure what the intended behavior was, but most likely: set default bounds in config if no bounds are provided, not set `0

[2019-07-23 16:27] matthiaskoenig commented on #880
This basically adds new reactions as irreversible when not specifying bounds (which is probably not what users expect when adding a reaction to a model). A lot of tests rely on this assumption, i.e. changing `0.0` to `None` fails many things.
@Midnighter @cdiener could you comment on this?

[2019-07-23 16:33] matthiaskoenig commented on #879
This is now fixed in the `sbml-bugfixes` branch. Thanks a lot for reporting this.
Proper tests were added to avoid regression in the future.

Best Matthias

[2019-07-23 16:34] Midnighter commented on #880
I don't know about the original reasoning but irreversible has been the default for quite some time.

Edit: I just checked in the git history and this has been the case since first commits by Daniel Hyduke in 2012.

[2019-07-23 16:35] synchon commented on #880
@matthiaskoenig As far as I remember, we did this change in #758.

I think that is exactly what we thought of. So, if you set `lower_bound` as `None` when initiating, that would make it reversible from the start.

I don't think we documented this caveat after merging it.

[2019-07-23 16:42] synchon commented on #806
@cdiener  #827 passes the test that you described and as far as I tested, it fixes the basic flaw that was there.

[2019-07-23 16:51] matthiaskoenig commented on #880
It would be great to add 1-2 sentences of documentation to the Reaction class about this behavior along the lines of

[2019-07-24 07:42] #850 closed

[2019-07-24 07:42] #878 closed

[2019-07-24 07:42] #879 closed

[2019-07-24 07:42] #857 closed

[2019-07-24 07:42] #880 closed

[2019-07-24 08:22] bdelepine commented on #879
Thank you for fixing this! It works like a charm.

[2019-07-24 20:49] #806 closed

[2019-07-25 13:01] Karrenbelt opened #883 "error writing to sbml without prefixing identifiers"
Trying to prevent cobra from prefixing my identifiers when writing SBML, I got this (using the textbook model, model history error is unrelated):

`cobra.io.write_sbml_model(model, 'test.xml', f_replace={})`

[code]

replacing gpr_new with gpr in these [lines](https://github.com/opencobra/cobrapy/blob/master/cobra/io/sbml.py#L1064-L1067 ) should fix this

[2019-07-25 13:12] matthiaskoenig commented on #883
I basically fixed this yesterday in the `devel` branch as part of other bugfixes ;). Please try the devel version.
Do in your virtualenv
[code]
This will be resolved with the next release.

[2019-07-25 13:29] Karrenbelt commented on #883
it writes, but reading back it should to be erroneous, with libsbml shows errors

`cobra.io.read_sbml_model('test.xml')`

[code]

same when using libsbml to read
[code]

[2019-07-25 14:27] Midnighter commented on #883
I think this is a different error and  a duplicate of #879. Basically, the model you were using doesn't have correct SBML identifiers and those are dropped upon writing the model thus the model is broken on import.

[2019-07-25 16:33] cdiener commented on #883
Yeah, most common pitfall is that you have identifiers that start with numbers (common for metabolites) and this is not allowed in SBML (and is why we add a to IDs).

[2019-07-26 06:26] synchon commented on #853
With version `0.25.0` of `pandas`, it has already dropped support for Python 2. We use it quite a bit and I think it's better to issue a warning in the next release and drop Python 2 support in the subsequent release.

[2019-07-26 07:30] matthiaskoenig commented on #883
Not sure what to do here. There are clear error messages on writing the SBML that the identifiers are incorrect. We agreed on only reading valid SBML.
Only solution here is to change the invalid identifiers if you want to write them out.

We could be more drastic and just not create a SBML file at all on write errors like identifiers. Or restrict the allowed identifiers within cobrapy (nobody will

[2019-07-26 16:15] cdiener commented on #883
I would say there is a slightly incorrect behavior in writing the initial SBML. It seems to have invalid identifiers but no error is given. Writing a SBML model with invalid identifiers should nope out and make it clear that this is not right.

[2019-07-26 16:18] cdiener commented on #853
I think there are several stages:

1. (easy) remove Python 2 from all CI and builds. Mention it in docs and everywhere else.
2. (medium) remove Python 2 specific workarounds (six, not using `with Pool(...):`)
3. (hard) Refactor code base to make full use of Python 3 features.

We can probably do 1 very fast and 2 in reasonable time. 3 will take longer since we also have to benchmark it extensively

[2019-07-28 14:27] Midnighter commented on #883
I agree, invalid identifiers is definitely an error that should not only be a logged error level message but actually raise an exception and not write the file.

[2019-07-28 14:32] Midnighter commented on #853
Let's do 1. right away, including a `DeprecationWarning` upon import with Python 2.

[2019-07-28 15:57] gregmedlock commented on #883
Maybe we could steer users in the right direction with a function that checks SBML compliance prior to writing, so that what we end up putting in documentation is more like:
[code]

check_sbml_model could even return a "validated model" that is the only acceptable input to write_sbml_model if we wanted to be really strict... check_sbml_model could also have output that reads more like a report tha

[2019-07-29 07:21] matthiaskoenig commented on #883
My personal take on this is to just make the used ids SBML compliant, i.e., if somebody tries to set an id on a cobra model which starts with a number the user should get a warning/error and the replacement should be performed right there and then.

Having invalid SBML ids internally in cobra creates many issues, e.g.,
- things like tab completion are not working (https://github.com/opencobra/cobr

[2019-07-29 12:25] synchon commented on #530
Any updates for this issue? Since it is added to the COBRApy version 1.0 milestone, would be nice to resolve this ASAP.

[2019-07-29 16:06] cdiener commented on #530
@stairs is right that we are still missing Gene removal. In general the Gene module needs some love. For now I would juts remove the obvious things like `make_irreversible` etc.

[2019-07-29 16:20] synchon commented on #530
@cdiener Do you suggest that we work on `cobra.core.Gene` and then take up this one?
@stairs Would you still like to work on this issue?

[2019-07-29 17:07] cdiener commented on #883
@gregmedlock I think this woul be great but may be hard to implement given the sheer size of the SBML spec. The only way that seems simple would be to write the broken model and use a validator on the written SBML file (maybe @matthiaskoenig) knows if there is functionality for that in libSBML (something like the online validator).

@matthiaskoenig That sounds good. I think due to backwards compat

[2019-07-30 11:41] stairs commented on #530
@cdiener Thanks for the clarification!
@synchon Yes, I'm willing to work on it, thanks!

[2019-07-30 14:48] gregmedlock commented on #883
@cdiener agreed--I should have been more specific. The proposed function would only check compliance for SBML aspects that are already checked when writing the file via libSBML (e.g., IDs).

The idea is that users should be free to modify IDs for their own use, but should hit a hard roadblock when they attempt to write SBML without making the IDs compliant. Of course we should encourage compliance

[2019-07-30 16:40] cdiener commented on #883
@gregmedlock Very much agreed. To clarify I would only throw an error if the user enforces no prefixes and has invalid SBML IDs. The default would still be to add prefixes if the IDs are not compliant and just show a warning.

[2019-07-30 23:05] akaviaLab commented on #883
I ran across this problem or a similar one. What about implementing something similar to https://github.com/opencobra/cobratoolbox/blob/develop/src/base/io/utilities/SBML/convertSBMLID.m
This is needed for various reasons, but since both read and write SBML call it, the user can't even tell that anything is happening.
If this is okay with you guys, I can take a stab at it.

[2019-07-31 07:31] matthiaskoenig commented on #883
@akaviaLab This is happening right now. Code is part of the current behavior and is already implemented.

We are only talking about the very special use case in this issue of "someone has invalid identifiers but does not want the id replacements on writing SBML. What should we do in this case?"

[2019-07-31 07:35] matthiaskoenig commented on #883
@akaviaLab In addition, ID replacement is a nightmare for interoperability between tools. Whenever possible tools should highly encourage to use valid ids. It becomes very difficult to map datasets onto networks if the ids change between formats. E.g. I run a flux simulation in cobra and want to visualize this with the SBML network. The ids of the flux simulation do not match the ids of the SBML e

[2019-07-31 07:53] Karrenbelt opened #886 "trying to add existing exchange reactions changes bounds"
in the SBML model (e_coli_core), if I set the extracellular species as a boundary species (e.g. for kinetic simulation), and then load the model to cobra, even though the exchange reactions (and bounds) exist, it will try to add an exchange reaction, and by doing so change the bounds to (-inf, inf), changing model behaviour. Can this be circumvented?

[code]

[2019-07-31 08:00] Karrenbelt commented on #883
naming conventions are more often a pain than they ought to be.
I agree with matthiaskoenig and cdiener, it is best to only throw an error in the special case someone does not want identifier replacement and thereby would create an invalid SBML model.

[2019-07-31 08:04] matthiaskoenig commented on #886
Okay, as I understand it you found a corner case.
Normally models either use `boundaryCondition=True` on species or have exchange reactions on a model. I never encountered a model with a mix of the two things. But I clearly see your use case here.
For now just set `boundaryCondition=False` before loading the model in cobra.

The latest develop version already sets the bounds correctly to the confi

[2019-07-31 08:09] matthiaskoenig opened #887 "GPR of the form (A and B) or (A and C) are currently not supported"
Some reactions have (A and B) or (A and C), and removing the parenthesis breaks adding the gene rules, during GPR parsing.
This is due to some processing necessary for id replacements during writing.

@akaviaLab Could you provide an example model for this and add further description if I did not catch the full extent of the issue?

[2019-07-31 08:11] matthiaskoenig opened #888 "Some notes are not parsed correctly from SBML"
Some notes are not parsed correctly, most likely with multiple `<p>` tags.

@akaviaLab could you provide an example for this?

[2019-08-01 19:27] gregmedlock commented on #887
I just happened across this issue with a model today (paper here: https://www.nature.com/articles/ncomms14250#supplementary-information but SBML only available here in "Ratcon files": http://bme.virginia.edu/csbl/Downloads1.html). In the GPRs with parentheses I'm coming across, the reactions within the cobrapy model end up with nothing in the GPR.

I can take a crack at it if you are working on ot

[2019-08-01 19:33] akaviaLab commented on #887
Hi
One example is RECON 2.2 (https://www.ncbi.nlm.nih.gov/pubmed/27358602), available on https://www.ebi.ac.uk/biomodels/MODEL1603150001
RECON 2.2 is valid SBML according to the online validator. Can you explain what purpose does the parenthesis removal serve? If this is fixed, it would help to figure out what the purpose of the original function was, in order not to remove functionality.
I'm work

[2019-08-01 20:21] matthiaskoenig commented on #887
@gregmedlock and @akaviaLab Thanks for the examples. I can fix this issue tomorrow.

[2019-08-01 21:48] akaviaLab commented on #888
RECON 2.2 (https://www.ebi.ac.uk/biomodels/MODEL1603150001) has the notes in the format
<html:p>CHARGE: -6</html:p>

Which requires changing the pattern in notes to
pattern = r"p>\s*(\w+\s*\w*)\s*:\s*(.*?)</[^<>p]+p>"
I changed the second part, which picks up the field value since RECON2.2 had notes that were not processed. See attached example file, which has SMILES
[exampleModel.xml.gz](https://

[2019-08-01 21:55] akaviaLab commented on #883
@matthiaskoenig - the code does not replace the GIDs when reading old-style SBML files that have the gene association in NOTES field, like Recon 2.2. See example file [exampleModel.xml.gz](https://github.com/opencobra/cobrapy/files/3458773/exampleModel.xml.gz), where if you read SBML and try to write SBML, you get an error because the gene IDs have ":".
I think the SBML needs a function like the M

[2019-08-02 16:47] Karrenbelt opened #889 "errors in core model reaction annotations"
maybe doesn't belong here, but not sure where else to go and I'm guessing the message will get through.

most reactions map as follows (id, BiGG annotation in the model):
R_ENO: ENO

but for the biomass reaction it maps as follows:
R_BIOMASS_Ecoli_core_w_GAM: Ecoli_core_w_GAM
I think the BIOMASS part needs to remain

for the exchange reactions (one example):
R_EX_ac_e: ac
which is strange since 'a

[2019-08-02 18:02] cdiener commented on #889
Hey could you post a [reproducible example](https://stackoverflow.com/help/mcve) that illustrates the behavior. Exchange reactions are often named by the metabolite they import/export so that is common across many models. Annotations are mostly provided by the model itself and thus by the person that created it, but there may be parsing issues on our side...

[2019-08-02 18:32] Karrenbelt commented on #889
sorry I should have been more explicit, and probably posted this somewhere else, but I wasn't sure where. This has nothing to do with cobra. These are presumed errors in the E. coli core model sbml file, found here http://bigg.ucsd.edu/models/e_coli_core

[2019-08-02 19:28] cdiener commented on #889
Oh, okay. The BIGG Github repo is https://github.com/SBRG/bigg_models. Opening an issue there likely will get you a better reply.

[2019-08-03 16:32] Midnighter commented on #889
Closing this issue since https://github.com/SBRG/bigg_models/issues/344 is tracking this.

[2019-08-03 16:32] #889 closed

[2019-08-03 16:38] Midnighter commented on #883
If someone feels like mediating, coordinating with the Matlab folks to standardize on how identifiers are transformed could be a useful thing?

Other than that, I take from this issue that we need to:

1. Do transformations for GPR read from notes.
2. Raise an error upon writing invalid SBML.
3. Anything else I missed now?

[2019-08-03 17:14] Midnighter commented on #888
This is basically a comment on the PR #885 but I think it's better to discuss here. I think a proper solution would be to add [beautifulsoup4](https://www.crummy.com/software/BeautifulSoup/) as a dependency. It's a small dependency compared to some of the others that we already have so I don't see a huge problem with it.

If we really want to continue with a regex it should probably look something

[2019-08-03 22:21] akaviaLab commented on #888
This may work if the split contains maxsplit=1 as a parameter.
For example, in RECON 2.2 (again), many of the values contain ":", so simple split(":") will result in more than two values.

R_FAOXC6040m
                  <html:p>GENE_ASSOCIATION: (HGNC:4801 and HGNC:4803 and HGNC:88) or (HGNC:4801 and HGNC:4803 and HGNC:89) or (HGNC:4801 and HGNC:4803 and HGNC:90) or (HGNC:4801 and HGNC:4803 and HG

[2019-08-04 08:15] Midnighter commented on #888
Beautifulsoup is the "proper" solution for parsing HTML. Since we should stick to the SBML specification, we should not deviate from libSBML. I think it was a major achievement to make a complete switch towards it.

I don't think separate PRs are necessary but if you can try to keep your commits atomic that'd be very appreciated.

[2019-08-04 14:14] stairs commented on #530
@cdiener Sorry to bother you again. But it looks like all the other deprecated functions in the module were deleted by @Midnighter in https://github.com/opencobra/cobrapy/commit/34040067f28566d904f90eb97ee7de5665a9747d. Please, correct me if I'm wrong.

[2019-08-04 15:33] Midnighter commented on #868
Actually, there still is a problem.

[code]

[2019-08-04 16:14] #586 closed

[2019-08-04 16:17] Midnighter commented on #530
I wasn't sure any longer how much deprecated code we removed. If you cannot find anything then it's only the gene removal feature I suppose.

[2019-08-04 18:10] cdiener commented on #868
Is this from a recent build? The PR added optlang.exceptions to the mock import...

[2019-08-05 17:40] synchon commented on #739
The `cobra.core.gene` module hasn't been updated in a while and this might be a good issue to start with. Any thoughts on this one? I can have a go if nobody is working on this.

[2019-08-07 05:05] LordVoldemort28 opened #893 "ImportError: cannot import name 'YAML'"
#### Problem description

Python Version: 3.6.8
CobraPy Version: 0.15.4
Ruamel.yaml Version: 0.16.0

When attempting to import `cobrapy` I get the actual output below. A quick fix for this would be to simply

[code]

instead

[code]

within `yaml.py` of the `cobra.io` module.

#### Code Sample

Create a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve).

[code]

#### Act

[2019-08-07 14:09] Midnighter commented on #893
Can you post the version of ruamel.yaml, please? `pip freeze | grep yaml`

[2019-08-07 14:14] LordVoldemort28 commented on #893
ruamel.yaml==0.16.0

[2019-08-08 22:28] Midnighter commented on #893
Via #894

[2019-08-08 22:28] #893 closed

[2019-08-15 09:04] matthiaskoenig commented on #739
Yes, this needs urgent updating. My thoughts
- this currently sucks, more specifically there is a lot of manual conversion between GPR strings in the model formats and the internal GPR representation
- this is speed sensitive, i.e. a lot of the model parsing (at least for SBML) goes in processing the GPRs, because they have to be converted between trees and strings. I.e. the processing and handlin

[2019-08-15 10:32] RRohani opened #896 "ModelSEED SBML imported model has zero genes"
Apologies if this is actually a trivial error on my part - it's my first time playing around with COBRA / metabolic models.

I am using ModelSEED to generate a SBML model of _Vibrio natriegens_ and then importing it using COBRApy. According to the ModelSEED website the model has 923 genes. However, the imported model has 0 genes. I think perhaps it is an issue with the model encoding or (less like

[2019-08-15 10:34] Midnighter commented on #739
Another aspect of this was the idea to integrate genes with `optlang.Symbol`s such that one could use sympy to directly evaluate the Boolean expressions. I think taking all of this on, though, is quite a major piece of refactoring and new work. We should plan this out in a bit more detail before writing any code.

[2019-08-15 10:54] Midnighter commented on #896
Welcome to cobrapy :slightly_smiling_face:  It seems that the SBML exported is rather outdated. Gene associations should no longer be encoded in the `<notes>` and also the parameters are encoded in a `<kineticLaw>`. Both should be encoded using the SBML `fbc` package these days.

So it's not your fault but the SBML is not up to par. There are two alternatives:

1. Use the successor to ModelSEED KB

[2019-08-15 10:58] RRohani commented on #896
@Midnighter Great thanks so much! Will take a look at both :)

[2019-08-15 12:02] matthiaskoenig commented on #739
@Midnighter I agree, this is a major issue and needs some planning.
Just listed things which I noticed with the GPRs. By no means should this all be solved at once.

[2019-08-15 17:40] PkiwiBird opened #897 "Is there a cobrapy function for gapfilling with required metabolic tasks?"
Cobrapy user guide explains how to do gapfilling when we want to guarantee that the organism objective is to grow or guarantee a certain metabolite is produced.
Is there a cobrapy function equivalent to the 'fitTasks' function on RAVEN toolbox in matlab [https://github.com/SysBioChalmers/RAVEN/blob/master/core/fitTasks.m](https://github.com/SysBioChalmers/RAVEN/blob/master/core/fitTasks.m) that pe

[2019-08-15 18:35] gregmedlock commented on #897
This is certainly possible in cobrapy, but there isn't a "convenience" function for performing gap filling given a list of tasks. If you can share the types of tasks you're trying to gapfill for, we can point you in the right direction; the constraints associated with common tasks are easily set it cobrapy.

There is some functionality for running MATLAB functions from python, but I would recommen

[2019-08-16 11:42] tanialbb commented on #897
Thank you for replying.
I basically created new reactions with existing metabolites and then added bounds to those reactions. For example, a task of the type: ATP[c] + H2O[c] <=> ADP[c] + Pi[c]. But I don't know how to proceed from there.
I guess we start by adding one of those reactions to the model, but how do we "inform" the gapfilling function that we want that reaction to have flux while gapf

[2019-08-16 14:59] gregmedlock commented on #897
In that case, constraining the lower bound of the reaction of interest to be > 0 (if forward flux is desired) would be sufficient. So this would do it:

[code]

After constraining this reaction, the constraint will be maintained when you create a gapfilling object in cobrapy (or run the gapfill function). You can add as many constraints as you'd like.

[2019-08-16 17:11] tanialbb commented on #897
Makes sense. What is odd is the file with metabolic tasks has some reactions as you said with lb 1 or 0.0001 and ub 1000, but others have lb 0 and ub 1000 or even lb -1000 to 1000. So, required metabolic tasks can have flux 0 ? For metabolic task to happen doesn't have to have flux value different than 0?

[2019-08-16 18:52] gregmedlock commented on #897
I agree that some of those bounds look odd--I can't imagine a scenario where a task with the bounds (-1000,1000) would be useful. (0,1000) could be used to indicate that anything *except* reverse flux is allowed for a reaction that the creators wanted to keep reversible in the reconstruction, but the use case is unclear to me.

[2019-08-16 19:17] akaviaLab commented on #887
This has not been fixed. I'm still not clear why removing the parenthesis is necessary at all.
For example, if the GPR is (A and B), it should work fine with parenthesis. Can you please explain why removing the parenthesis is necessary?

[2019-08-16 21:38] akaviaLab commented on #887
Sorry, I was looking at an older version of the code. It seems to process reactions correctly. I think it can be closed.

[2019-08-16 21:58] akaviaLab commented on #888
The suggested regexp fails on RECON2, because it the notes string contains multiple lines
<notes>\n  <html:body xmlns:html="http://www.w3.org/1999/xhtml">\n    <html:p>CHARGE: -6</html:p>\n    <html:p>FORMULA: C40H45N11O19</html:p>\n  </html:body>\n</notes>'

So, it has to be run in a loop with finditer. Should be fixed in commit 05d0d417dc6b9a37d808301fbe6b136f6c45a1c5

[2019-08-17 11:28] Midnighter commented on #896
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-08-17 11:28] #896 closed

[2019-08-17 11:39] Midnighter commented on #888
Since you closed the PR, on which branch is this work happening?

[2019-08-17 13:14] tanialbb opened #898 "AttributeError: module '__main__' has no attribute '__spec__'"
#### Problem description
I'm trying to run FVA:
[code]
But I get the error:
`Traceback (most recent call last):
  File "C:\Users\Tania\.conda\envs\models\lib\site-packages\IPython\core\interactiveshell.py", line 3296, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-381-0f6c0f521409>", line 1, in <module>
    flux_variability_analysis(HMR2model, HMR2model.re

[2019-08-17 15:31] Midnighter commented on #898
FVA by default will recognize and utilize multiple processors in your system. This does not work in an **interactive** environment on Windows. You have two options:

1. You write a Python script that you call non-interactively, e.g., call it from the command line.
2. You disable multiprocessing by decreasing the number of processors configured to 1. You can do this either directly by passing `proc

[2019-08-17 15:31] #898 closed

[2019-08-19 10:26] matthiaskoenig opened #899 "SBML documentation outdated"
SBML documentation is outdated on https://cobrapy.readthedocs.io/en/stable/io.html. E.g.,

* remove mentioning of lxml
* document python-libsbml correctly
* SID not documented correctly (patterns should be given)
* Some more words about legacy formats
* document compression feature
* document validation feature
...

[2019-08-19 16:09] cdiener commented on #899
Related to #875.

[2019-08-21 09:47] bdelepine opened #900 "model.summary() is inconsistent with and without 'with' context"
#### Problem description

Hello,

I want to use a context to safely change the C source, compute an FBA and then display the summary. I was surprised to see that the changes introduced in the context were ignored by the summary. I think this unexpected behavior because 1/ this is different than the behavior without using context, 2/ this leads to meaningless values if we additionally ask for FVA i

[2019-08-21 12:01] Midnighter commented on #900
Across two different solutions I would only expect the objective value and fairly closely the in-fluxes to be equal. However, as you demonstrate, this is not the case. I will try to reproduce these but it looks quite problematic.

[2019-08-21 23:29] Midnighter opened #902 "Model notes are not written to SBML"
Did we already have an issue for this?

[code]

[code]

[code]

[2019-08-22 14:42] akaviaLab commented on #902
Seems to be written on my development branch SBMLImprovments. Try testing after merging #901

[2019-08-22 17:52] cdiener commented on #900
Another thing that pops out is that in many cases `FLUX_MIN > FLUX_MAX`...

[2019-08-23 17:00] cdiener commented on #900
@gregmedlock I can't reproduce this bug with FVA alone. Could you make a new bug report with a reproducible example and indicate which solver you are using? Thanks!

[2019-08-23 18:00] cdiener commented on #900
The problem with here is that `model.summary()` does not actually return a string representation of the summary but a Summary object that does nothing initially. The summary gets calculated when `ans1` is printed and not in the with block. You can easily see that when printing ans1-ans3 within the with block which will give you correct results.

In your case ans1 uses the model after reset when pr

[2019-08-23 18:02] Midnighter commented on #900
Ah, thank you for investigating that Christian :smiley: That is actually what I proposed to do with my additional changes to the summary PR. So I guess it's urgent that I finish up that work.

[2019-08-26 10:08] Trizali opened #903 "Documentation possible mistake in Flux Sampling"
Hello, everybody,

I have installed the stable version 0.16.0 of Cobra. For do the sampling, the documentation specifies that it is necessary to import _sampling_ from _cobra.flux_analysis_. However, this module does not exist and, instead, it should be imported from _cobra.sampling._

Before
`from cobra.flux_analysis.sampling import OptGPSampler, ACHRSampler
`
Now:
`from cobra.sampling import Opt

[2019-08-26 22:41] Midnighter commented on #903
Yes, documentation is not up to date on that. Sorry about that.

[2019-08-27 22:28] maureencarey opened #904 "model.annotation not preserved during cobra.io.write_sbml_model"
Hi all!

#### Problem description
After modifying model.annotation, I tried writing it using cobra.io.write_sbml_model. However, the resultant file did not include any of the annotation information.

#### Code Sample
[code]

#### Actual Output
[code]

#### Expected Output
[code]

'example_field' is not present in the xml file 'test_model.xml' - so it looks like it's a problem with write_sbml_model

[2019-08-28 17:09] Midnighter commented on #904
Hi Maureen, If it's easy for you, please try again with cobra 0.16.0 and let us know if this is still an issue.

[2019-08-28 20:16] Midnighter commented on #888
Cheers

[2019-08-28 20:16] #888 closed

[2019-08-30 11:18] ChristianLieven commented on #853
Here are some practicalities/ guidelines for the switch that I'm using for `memote`
 that you might wanna have handy too!

https://python3statement.org/practicalities/

[2019-09-02 14:58] gregmedlock commented on #887
Issues with iHsa GPRs are resolved--thanks!

[2019-09-02 16:06] Midnighter commented on #887
:tada:

[2019-09-02 16:06] #887 closed

[2019-09-03 13:18] bdelepine opened #905 "TypeError: in method 'Reaction_setReversible', argument 2 of type 'bool'"
#### Problem description

Hello guys,

I was playing around when cobra refused to export a model to SBML with a TypeError: `TypeError: in method 'Reaction_setReversible', argument 2 of type 'bool'`.

I believe this is because I had one of my `Reaction.lower_bound` as a `numpy.float64` instead of being a plain `float`, which in `sbml.py` would yield a `numpy.bool_` at line `        reaction.setReve

[2019-09-03 13:45] Midnighter commented on #905
@matthiaskoenig when I reproduce the issue I don't get any of the numpy type issues but the error still occurs. In my case, `value` has the type `bool` and the value `False`. According to the [libsbml documentation](http://sbml.org/Software/libSBML/5.18.0/docs/python-api/classlibsbml_1_1_reaction.html#a2d05c74dd4ffa8951d4e1087f63d6426) `bool` is the right type there so I don't know why there is a

[2019-09-03 23:39] dbourdeveloper opened #906 "Missing Metabolite"
#### Problem description

I'm currently attempting to add a reaction string and get the same representation back, but when I add the reaction, it drops the metabolites if they're present on both sides of the reaction.

I have the following reaction string
```'1 MNXM1692 + 1 MNXM2 + 1 MNXM3 <-> 1 MNXM1 + 1 MNXM1692 + 1 MNXM7 + 1 MNXM9'  ```

And performed the following
[code]

#### Actual Output
[c

[2019-09-04 00:05] cdiener commented on #906
Yeah, that is not possible since that has no effect in flux balance analysis. If you would write down the balance equation for MNXM1692 this part would just cancel out. It is a bit of a weird behavior though since the metabolite gets added to the model but is in no reaction.

Is that to formulate a dependency on a co-factor or something similar? This would work in ODE models with kinetics but unfo

[2019-09-04 01:38] dbourdeveloper commented on #906
Thanks @cdiener ! I was thinking that was it, but was hoping I was able to get back out what I put in since dropping specific metabolites now makes it a different reaction in the workflow I have. We can close this.

[2019-09-04 06:57] #906 closed

[2019-09-05 08:39] draeger opened #907 "Indication of model authors"
The SBML format allows authors to embed their contact information in the form of a VCard, including given name(s) and surname(s), organization, and e-mail address. Also, there are fields for creation date and modification date (see, for instance, [SBML Level 3 Version 1](https://doi.org/10.1515/jib-2017-0080) section 6.7, p. 97). This information can be linked to any model component in a history o

[2019-09-05 11:13] Midnighter commented on #907
Definitely would like to support this.

[2019-09-06 16:31] maureencarey commented on #904
resolved! thanks!

[2019-09-06 16:31] #904 closed

[2019-09-16 07:57] ensakz commented on #907
People usually name GEM by the initials using model.name cobrapy function

[2019-09-16 08:07] matthiaskoenig commented on #907
Hi @draeger,
sorry for the slow reply. Currently the SBML parser is already supporting the feature in a beta version. It is basically using the SBML ModelHistory element and parses it into a python dictionary which can be accessed on the cobra model. This is not really documented but already possible. On SBML export this is not working yet, i.e. the dictionary is not yet serialized in the SBML.

S

[2019-09-16 08:25] ensakz commented on #673
Is there any progress on fixing this bug? or do you have any workaround suggestions for solving it?

Thanks in advance

[2019-09-16 18:53] cdiener commented on #673
It's only `Metabolite.reactions` that is buggy. You can always loop through reactions yourself:

[code]

This will only give you reactions from the model.

[2019-09-17 12:32] beacamara commented on #517
Hello,
I am trying to work Using cobra toolbox with CobraPy and this bug it is not still fixed. I have checked that the scipy is installed, but still it does not work.

![imagen](https://user-images.githubusercontent.com/11525843/65041779-c0b54c80-d957-11e9-948b-5279f1f7c87a.png)
I am using Python 3.6.8 and IPython 7.8.0 --

Any help please?

[2019-09-17 12:37] Midnighter commented on #517
@beacamara please post the output of `cobra.show_versions()` here.

[2019-09-17 12:48] beacamara commented on #517
System Information
==================
OS                     Linux
OS-release 4.4.0-148-generic
Python                 3.6.8

Package Versions
================
cobra                       0.16.0
depinfo                      1.5.1
future                      0.17.1
numpy                       1.14.0
optlang                      1.4.4
pandas                      0.22.0
pip                         19

[2019-09-18 14:42] cdiener commented on #517
Looks like the error was introduced with the new `create_stoichiometric_matrix` function which now returns a sense array by default. Should be an easy fix but I have no way of testing whether it would work (no Matlab).

[2019-09-19 05:10] beacamara commented on #517
I have an old version of Matlab (R2010b). I there a way a can help to fix it? If you lead me to do it I can try.

[2019-09-19 15:08] cdiener commented on #517
Cool, l'll send a PR with a potential fix and ping you with instructions on how to test it.

[2019-10-01 04:40] ensakz commented on #736
This is really relevant problem. I have the same problem when trying to add reactions from univeral BiGG model to my model of interest

[2019-10-02 16:37] davidtourigny commented on #452
A Python-based dfba extension for cobrapy is now available here https://pypi.org/project/dfba/

[2019-10-03 09:17] beacamara opened #910 "Installation failures"
Hello,
I am trying to install cobrapy following the instruction, but still 5 failures related to solvers came up, especifically  the failures are related to gurobi solver. The solvers I have installed are gurobi, glpk, cplex following corresponding instructions.

When using optlang module directly in python terminal the solvers_interface seem to work perfectly.

optlang.available_solvers
Out[14]:

[2019-10-03 09:44] Midnighter commented on #910
Hi Beatriz,

Sorry for not responding to your other troubles earlier. These issues are always hard to sort out remotely. I think what is going on is the following: All failures come from tests with the Gurobi solver. Even where this is not explicitly mentioned, cobrapy uses Gurobi as the preferred solver when it is available in your environment. Unfortunately, due to how the Gurobi license activat

[2019-10-03 11:33] RikvR opened #911 "OptGPSampler raises ValueError when additional constraints are added"
#### Problem description

When using a model with additional constraints added, the OptGPSampler raises a ValueError when constructing the center from the warmup points:

In `cobra.sampling.optgp.py` (line 172):
`ValueError: `data` must have the same shapeas the created array.`

This is likely due to the parent class copying and updating the model in preparation for the sampling, causing the numbe

[2019-10-03 13:48] beacamara commented on #910
Dear Midnighter,

Thank you so much for your answer. This explains all the failures that I have already obtained with the test_all() function.

I will do what you have already recommended me to use CPLEX for now. But if I have understood correctly at present all summary methods will not print any result, independently of the solver used, won't it?

Thank you again

Beatriz

[2019-10-04 06:45] ossdev07 opened #912 "No module named "optlang""
#### Problem description:

Module not found named "Optlang" which is already installed and all dependencies.

 **Explaination**:
I already unistall the package Optlang and again installed for upgrade version but always its shows requirements already there. In Conftest.py, After given the exact path of Optlang package but is shown exactly same issue  in aarch64 perhaps in x86 is going good after us

[2019-10-04 11:49] Midnighter commented on #912
Did you somehow uninstall the package `swiglpk`?

[2019-10-04 11:57] ossdev07 commented on #912
No , I didn't unistall the package swiglpk.

[2019-10-04 12:01] Midnighter commented on #912
I don't understand your explanation very well. So you cloned the repository and ran the test suite through tox?

[code]

If that's the case, can you please use `tox -e py36 --recreate`, please?

[2019-10-08 14:54] Trizali opened #913 "Obtain maximal theorical yields (cmol/cmol)"
Hi everyone,

I'm a little lost and I'd really appreciate a little help. I'm trying to get the maximum theorical yields (in cmmol/cmmol units) of the acetate product, based on glcuose carbon source, and keeping 10% of the maximum growth flow (biomass) in anaerobic conditions.

I've tried what I explain below here:
**https://groups.google.com/forum/#!topic/cobra-toolbox/MLMro6PGSRc**

But I don't k

[2019-10-08 17:13] Midnighter commented on #913
Hi @Trizali

First of all, we have a cobrapy mailing list as well http://groups.google.com/group/cobra-pie so I hope you will have more success with your Python questions there :smiley: Creating an issue like this is perfectly fine, too.

The first option that you describe _WAY 1_ looks perfectly fine to me. Is there any reason why you did not accept those results?

In _WAY 2_ it's a bit more tric

[2019-10-11 16:19] Trizali commented on #913
@Midnighter, first of all thank you very much!! And thank you for telling me about the group, I'll use it next time.

But I don't know if I'm constricting the biomass well.

I have 3 questions:

QUESTION 1) In order to obtain the yields of the desired products, I have to maintaining 10% of the maximum flux through the biomass objective function calculated using FBA. Does that mean that... ? :

or

[2019-10-12 11:32] Midnighter commented on #913
1)

A is correct and B is *wrong*. You can also fix the biomass flux:

[code]

which sets both the lower and upper bound.

2) I don't think there is a single 'correct' way to address this. If you are interested in the abstract maximum theoretical yield you would probably set ATPM to zero but also the biomass. So since you seem to be interested in a setting where there is some growth it also seems

[2019-10-16 17:16] cdiener commented on #911
So I definitely agree with the fix. I can send a PR with the suggested change. However, the pasted code works for me (no errors). Even if the model is copied this should not alter the number of variables. What solver are you using?

[2019-10-16 17:18] cdiener commented on #903
Sorry for the delay. I'll update the docs.

[2019-10-16 17:22] cdiener commented on #819
Fixed upstream.

[2019-10-16 17:22] #819 closed

[2019-10-16 19:46] pcuevas-ch opened #915 "Problems i import cobra.flux_analysis.sampling"
Hi to everyone,
I'm new in Cobrapy, i'm exploring the documentation and making some examples. When I was exploring Flux Sampling I tried to import the function sample of the submodule above and jupyter-notebook  threw an error. Could you help me please to understand what's wrong here? thank you in advance! =)

[code]

<details>
----------------------------------------------------------------------

[2019-10-16 22:28] cdiener commented on #915
Sorry, for that. We are having some issues building the new docs right now so they are a bit outdated. It is now

[code]

[2019-10-17 02:10] pcuevas-ch commented on #915
Ohh I understand. Thank you for your answer, it works! :)

[2019-10-17 02:10] #915 closed

[2019-10-21 11:43] RikvR commented on #911
It seems that it only errors when using gurobi as a a solver - adding the update call does not fix it. Both GLPK and cplex seem to be fine.

[2019-10-21 17:56] cdiener commented on #911
Looks like `Model.copy()` is broken for Gurobi. Unfortunately I don't have access to Gurobi so I can't debug it further. If you would like to confirm the error you could run the following code:

[code]

If that does not print the same two numbers twice the bug is indeed in copying.

[2019-10-21 18:20] gregmedlock commented on #911
Just tested with the latest version of gurobi--the code in the OP works if the model is copied (e.g., `model = model.copy()`) prior to creating the sampler.

@cdiener your code led to the same number of variables/constraints for me, except if an additional constraint is added to the model. After the constraint is added, the number of constraints is updated immediately. When the model is copied, th

[2019-10-21 19:01] gregmedlock commented on #911
Correct, the solver is set to gurobi. Will edit the above for mod/model use, it was just a quick copy/paste error

[2019-10-21 19:13] cdiener commented on #911
Great! And could you reproduce the original error with the code from the first post? The extra variable seems to be the problem. I think optlang creates some helper variables for constraints with Gurobi but those should be hidden which seems to break on copy. This should not be a huge issue and the proposed fix would probably still give correct results. I will report this upstream to optlang as we

[2019-10-21 19:37] gregmedlock commented on #911
Yes, I reproduced the exact error from the OP.

[2019-10-22 10:10] RikvR commented on #911
@gregmedlock

I can confirm that your example works as expected. The first pair is identical, the second pair has 0/+1 for the original, and +1/+1 for the copy. The final pair has the expected +1/+1 for both.

I think there could be an issue in Optlang with the way the Gurobi models are copied. The optlang Model is written to a temporary file in the .lp format, and parsed again to create a copy, b

[2019-10-23 00:13] cdiener commented on #911
That was intentional since the optlang copy methods are usually much faster than cloning. Thanks for the amazing detective work! That really helps in pinning down the problem. Since it is an optlang problem we should report it there to get the serialization fixed for gurobi in optlang.

[2019-10-24 05:37] #875 closed

[2019-10-24 05:38] #868 closed

[2019-10-25 20:21] zakandrewking opened #919 "MAT loading error from spaces in compartment names"
#### Problem description

In BiGG Models, we have some compartment names with spaces in them:

http://bigg.ucsd.edu/models/iCHOv1/metabolites/h_im

COBRApy (v0.17) can read JSON and SBML files generated with this data. But if one tries to round-trip to a .mat file, an error occurs:

[code]

#### Dependency Information

<details>

System Information
==================
OS         Darwin
OS-release 1

[2019-10-26 12:09] #903 closed

[2019-10-26 12:09] #911 closed

[2019-10-28 19:12] cdiener commented on #919
So cobrapy does not allow for spaces in IDs but does in names (description). Do you know if matlab models make a distinction between id and description/name? Looks like they don't and this is why the matlab reader uses the names as the IDs. There is basically two options:

1. raise an error on read due to invalid IDs
2. make the names compatible (for instance substituting underscores for spaces) a

[2019-10-28 19:57] zakandrewking commented on #919
I'm not familiar enough with the needs in MATLAB / COBRA Toolbox to provide much direction here.

If necessary, we can restrict compartment names in BiGG to not include spaces, but that could be confusing going forward since other descriptive names allow spaces.

[2019-11-04 17:41] yseif opened #921 "reading SBML models"
cobra.io.read_sbml_model(model_path) spits out lots of warnings and slows down performance. Is it possible to turn that off?

In addition, when reading older models, GPRs are not detected, for example: iND750 available on https://darwin.di.uminho.pt/models/.
The same model, available on http://bigg.ucsd.edu as a json file does not have this issue.

[2019-11-05 10:29] Midnighter commented on #921
Hi, you can modify the logging via the standard library module. Here's a basic tutorial https://docs.python.org/3/howto/logging.html#logging-basic-tutorial

In this case the best way is probably the following which will only silence SBML warnings.

[code]

Older models used to write GPRs into the notes section. That is not acceptable according to the newer SBML specification any longer. However, I

[2019-11-14 19:22] gregmedlock commented on #905
I just came across the same incompatibility; it looks like libSBML will never accept numpy datatypes in bounds. @matthiaskoenig Would there be consequences to overriding this behavior within cobrapy by converting all numpy datatypes to native python floats when writing SBML (under the hood so that users aren't exposed to the issue)? I am guessing this is intentional within libsbml, but if not mayb

[2019-11-15 11:55] matthiaskoenig commented on #905
No issue at all. I will just do a cast to float.

On Thu, Nov 14, 2019, 20:22 Greg Medlock <notifications@github.com> wrote:

[2019-11-23 23:39] pcuevas-ch opened #922 "Cobrapy Method/solver for linear programming"
Hi to everyone! I would like to know which method/solver use cobra to solve linear programming problems.

Thanks in advance!

[2019-11-24 18:18] Midnighter commented on #922
Hi,

This actually depends on your environment. When you install cobra it comes with GLPK where it will likely use the double-step simplex. Via [optlang]() cobra can also use CPLEX or Gurobi for solving problems.

[2019-12-02 08:49] Midnighter commented on #922
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-12-02 08:49] #922 closed

[2019-12-03 18:09] BenjaSanchez opened #923 "fix: avoid scrambling of group members"
#### Problem description

When going through an I/O cycle with a model that has subsystems stored as groups, the members of each group in the sbml file get scrambled on each cycle, as those members are stored in `set()` structures, which are unordered. This significantly hinders cobrapy to be used for updating a model that has groups and is stored in a Github repository, as hundreds of lines in th

[2019-12-03 18:37] gregmedlock commented on #923
I think sorting on SBML output is the best option if we wanted to solve this, but SBML is also not intended to be human readable. Most software for reading/writing SBML files operates under this convention; order of entries within any "listOfX" is not part of the SBML specification. Basically every container in cobrapy is unordered for efficiency, e.g., removing reactions and adding them back to t

[2019-12-03 18:43] cdiener commented on #923
What about the `DictList` that's used for reactions and metabolites? Might be beneficial to use the same type for all containers... I agree that diffing SBML will remain changing but there were discussions that models should allow a round trip on saving/loading as this makes testing easier.

[2019-12-03 19:05] gregmedlock commented on #923
Sounds good to me. While we're at it, reaction.genes is currently a set as well... I frequently find myself trying to access genes within a reaction, e.g. `reaction.genes[0]`, which doesn't work since sets aren't subscriptable. Might be worth unifying `reaction.genes` to be a `DictList` too, rather than set/frozenset.

[2019-12-03 20:35] Midnighter commented on #923
`DictList` is a very decent choice but it does break backwards compatibility since it has a different interface than `set`. I'm not sure how many projects modify group members directly.

[2019-12-04 10:28] BenjaSanchez commented on #923
Thanks for your inputs!

what about tracking both the model and associated scripts? in [yeast-GEM](https://github.com/SysBioChalmers/yeast-GEM) (which uses cobratoolbox) this works well in most PRs, with very occasional scrambling of the sbml file, for which additional model formats as `.yml` and `.txt` are provided (e.g. https://github.com/SysBioChalmers/yeast-GEM/pull/131).

Another big problem

[2019-12-04 11:14] cariaso commented on #923
Backwards compatibility could be improved by adding

s.add(x) -> s.append(x)
s.remove(x) -> del s[x]

and possibly all of
['__and__', '__cmp__', '__iand__', '__ior__', '__isub__', '__ixor__', '__or__', '__rand__', '__ror__', '__rsub__', '__rxor__', '__sub__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issub

[2019-12-04 13:18] matthiaskoenig commented on #923
You should consider to update to python 3.6 or above, which preserves dict insert order as well as set insert order. This should solve your issue. For now this is only an implementation detail (and could change in future python version), so don't rely on it. But it should solve your issue.

[2019-12-12 07:49] zeawoas opened #924 "different FVA results for copied model"
### Context / problem description:
I want to remove reactions never carrying any flux from the model. To achieve this I run FVAs and ditch all the reactions whose sum of absolute min and max values is below a certain threshold. Doing this I noticed that some models were unable to grow after the manipulation. The reason seems to be that FVA on CPLEX* returns different results for the original model

[2019-12-12 18:09] cdiener commented on #924
Sounds similar to a problem with gurobi we are having right now. Will investigate further but it's definitely optlang-related.

[2019-12-12 21:17] cdiener commented on #924
Okay, had some time to look into that. First of all I think your comparison should be changed to something like `(fva - fva_m2).abs().max(1)` to be closer to an actual norm (you can use sum or mean instead of max though). However, that does not really change the conclusion here.

I can reproduce that behavior with cplex, but also GLPK and gurobi to varying extents. The problem seems to be in a few

[2019-12-14 13:03] Midnighter commented on #924
I wanted to add here that there also exists a convenience function for identifying blocked reactions:

https://cobrapy.readthedocs.io/en/stable/autoapi/cobra/flux_analysis/variability/index.html#cobra.flux_analysis.variability.find_blocked_reactions

It uses FVA under the hood so it will suffer from the same numerical instabilities but it does take into account the tolerance threshold to decide if

[2019-12-14 19:33] zeawoas commented on #924
thanks for looking into it and the pointer to `find_blocked_reactions()`. It solves my original problem, where some models were not growing after removing below-threshold reactions.

[2019-12-14 20:22] Midnighter commented on #924
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-12-14 20:22] #924 closed

[2019-12-14 20:22] Midnighter commented on #921
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-12-14 20:22] #921 closed

[2019-12-14 20:23] Midnighter commented on #913
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2019-12-14 20:23] #913 closed

[2020-01-21 19:29] cdiener opened #926 "Renaming a metabolite compartment does not update the reaction compartment"
#### Problem description

Had some problems in micom and finally pinpointed them to some issue with compartment names in cobrapy. I wanted to rename compartments for metabolites in a model and noted that this did not propagate to reactions.

#### Code Sample

Create a [minimal, complete, verifiable example](https://stackoverflow.com/help/mcve).

[code]

Funnily, if you would not run the first prin

[2020-01-21 20:23] Midnighter commented on #926
The proposed strategy sounds reasonable to me!

[2020-01-21 20:48] cdiener commented on #926
Okay, I'll send a PR.

[2020-01-26 06:29] Hemant27031999 commented on #736
I also had this issue when I was trying to parse [universal_model](http://bigg.ucsd.edu/static/namespace/universal_model.json) to sbml which still shows annotations in the form of list of lists. But when I checked the json_schema for annotations, it specify annotations to be of type object :

           "annotation": {"type": "object"},

And performing a validation check over this json using the c

[2020-01-27 00:01] cdiener commented on #736
A JSON object is not the same as an object in Python but rather a something like a dict (https://restfulapi.net/json-objects/). @zakandrewking when you said that the JSON schema allows annotations as list which source did you refer to? The one currently implemented in cobrapy does not seem to allow it.

[2020-01-27 10:05] BenjaSanchez commented on #923
I have opened PR #927 with the change to `DictList` implemented for group members. If the implementation looks good I can extend it to reaction.genes as well @gregmedlock

@matthiaskoenig I believe sets are still not ordered in python 3.6: https://stackoverflow.com/questions/45581901/are-sets-ordered-like-dicts-in-python3-6

[2020-01-27 11:32] Midnighter commented on #736
I see this in a similar light to you, Christian. To me what should possibly happen in a next version of the JSON schema is:

1. Implement biology qualifiers, thus annotations would turn into an object of lists of pairs (technically a list of list due to JSON not supporting tuples.
2. There was an idea of ensuring that annotations are always lists rather than turning single element lists into strin

[2020-01-27 16:15] cdiener commented on #736
This looks good to me and has the advantage that is already valid under the current schema which makes it backwards compatible.

[2020-01-27 16:24] gregmedlock commented on #923
PR #927 looks good to me, but I'm not sure whether it's also worth breaking backwards compatibility in reaction.genes *yet*, since there is a desire to improve handling of GPRs, e.g., Issue #739 which would likely break backwards compatibility again/in other ways.

Perhaps we should discuss further in #739?

[2020-01-27 23:52] zakandrewking commented on #736
I just tested the steps from my original posting, and they are still the case with COBRA 0.17.1. It's not that the schema is wrong but that COBRApy doesn't stop you from using it this way.

[2020-01-28 01:42] cdiener commented on #736
Oh I see so the problem is that loading it does not throw an error because it should not pass the schema.

[2020-01-28 14:29] Hemant27031999 commented on #736
That was also one thing that confused me. Though the json_schema is defined in [cobra.core.json.py](https://github.com/opencobra/cobrapy/blob/devel/cobra/io/json.py) file, it is nowhere used as a validator to validate the model which we are loading from the external json file. The _load_json_model(filename)_ method of [cobra.core.json.py](https://github.com/opencobra/cobrapy/blob/devel/cobra/io/js

[2020-01-28 14:43] Hemant27031999 commented on #720
Are there any updates on this? Though the solution of this issue is quite simple and has already been discussed, json_schema still shows the version type to be an integer instead of string.
Thanks.

[2020-01-28 14:47] Midnighter commented on #736
I have some local code that is unfortunately not quite ready. It uses [pydantic](https://pydantic-docs.helpmanual.io/) models to define and validate the schema. Because it is a little more work it is also delaying #720.

[2020-01-28 16:29] cdiener commented on #736
@Hemant27031999 yeah I saw the the same thing. I think this is due to schema validation being really slow and reading JSON is currently really fast. Also most validation is performed in `io/dict.py` on the dict so it can be used for yaml as well. For the annotations one easy way could be to adjust the `Object` class directly and add a setter for annotations that only allows dicts. That looks like

[2020-01-29 11:28] PkiwiBird opened #928 "minimal_medium IndexError: list index out of range"
#### Problem description
I applied FASTCORE algorithm to a recon3D model for different samples. I got sample specific models. Then I put bounds of drains associated with import of medium components from -1000 to 1000, while putting remaining drains from 0 to 1000 in each sample model. Then tested FBA, but models were infeasible.
To find other drains that have to be opened so that models are feasib

[2020-01-29 16:31] cdiener commented on #928
Thanks for providing the model I'll investigate and get back to you.

[2020-01-29 17:48] cdiener commented on #928
Hi, looks like your model was pickled using gurobi as the solver which means I can't unpickle it on my machine. Would you mind switching the solver before pickling?

[code]

Thanks!

[2020-01-29 18:24] tanialbb commented on #928
[OpenedSampleModel.zip](https://github.com/opencobra/cobrapy/files/4129869/OpenedSampleModel.zip)
goes

[2020-01-29 20:01] cdiener commented on #928
Hi,

so your model optimizes fine with me with GLPK and CPLEX:

[code]

However, I have to mention that if I run this code several times I occasionally see the same error as you do and it's basically an inconsistent result where the optimizer can't find an optimum again that it found before. This is usually a numerical problem and this sometimes happens with larger models and integer programming.

[2020-01-29 20:13] cdiener commented on #928
Might also be worthwhile to update your optlang and gurobi packages in case this hasn't happened recently.

[2020-01-30 13:58] tanialbb commented on #928
With cplex worked fine.
Thank you

[2020-01-30 15:43] #928 closed

[2020-01-30 19:12] Hemant27031999 commented on #736
Yeah, I think that can be the best thing to do. Not only it will stop the complete validation check on the json model using the schema that can make the process slow, it will even catch the error of "list of lists" while reading the model from the json file.
Can I work on this issue and submit a PR for the same if you say?

[2020-01-30 19:28] cdiener commented on #736
Sure go ahead. The `Object` class is implemented in `core/object.py`. Would be great if you could also add a test as well. You can add me as a reviewer for the PR.

[2020-02-03 22:57] vilacelestin opened #931 "Gapfilling Algorthim Failing"
So i'm trying to create strain-specific models of p.putida similar to nogales et al 2020. I'm starting with the p.putida iJN1463 mode and have a list of genes to delete to recreate each strain. I then want to gapfill using the original model as a reference to add back the reactions that would be needed for growth. However the gap-filling algorithm in cobrapy is unable to find a solution (even thou

[2020-02-04 00:34] gregmedlock commented on #931
Hi Jean,

The delete_model_genes function just closes the upper and lower bounds for
reactions that are no longer functional with the gene deleted; so the issue
is likely that your model with the deletion still has the original
reactions (with bounds of 0,0), but reactions with the same id cannot be
added from the universal reaction set. Thus, a feasible solution can’t be
found because the reactio

[2020-02-04 15:32] vilacelestin commented on #931
Hi greg.

Thanks for the response. So deleting one reaction rather than just using delete_model_genes still doest work though it gives me a slightly different error.

New Code
[code]
Error
[code]

[2020-02-04 15:53] gregmedlock commented on #931
Hmm, the next thing I would check is the value of the objective returned in `P.optimize()`. `gapfill()` has a default lower bound through the former objective of 0.05, so if your model initially has a lower flux than that, it could raise the error you're getting.

[2020-02-04 19:24] vilacelestin commented on #931
The value of the objective is  0.586 so i don't think that is the issue.

[2020-02-04 19:52] gregmedlock commented on #931
I see--I just did a bit of digging around the gap filling module using the BIGG reconstruction you're using, and it looks like the primal value is not properly getting updated on the reaction that should be added, thus the list of reactions generated in `GapFiller.fill()` is empty, even though there is flux through PQQAC in the gap fill solution. I will investigate a bit further and make a PR to f

[2020-02-04 20:53] gregmedlock commented on #931
Hi Jean--finished with some more tinkering and found that it is likely a numerical issue. If you set the integer_threshold to 1e-12 or lower in the gapfill function (`solution = c.flux_analysis.gapfill(P2, P,demand_reactions=False,integer_threshold=1e-12)`), it should work.

In some cases, lowering the integer_threshold could lead to false positive reaction additions (i.e., returned as part of the

[2020-02-05 15:04] vilacelestin commented on #931
What solver/version are you using? I get

GurobiError: Unable to set parameter IntFeasTol to value 1e-12 (minimum is 1e-09)

[2020-02-05 15:52] gregmedlock commented on #931
Great--glad it worked!

[2020-02-05 15:52] #931 closed

[2020-02-18 13:54] marvinvanaalst opened #935 "Loopless FBA objective value is zero"
When I run the example from your loopless FBA documentation, I get the objective value 0 (which is also displayed in the rich output), while the flux of the biomass reaction is non-zero.

[code]

Do I misunderstand anything about the loopless concept, or is this just bug?

<details>
System Information
==================
OS                     Linux
OS-release 4.15.0-76-generic
Python

[2020-02-18 15:51] Midnighter commented on #935
The objective value is not always the same as the biomass flux. As a simpler example, when you use parsimonious FBA, the objective is to minimize the sum of active fluxes while maintaining a certain biomass flux. Also in that case the objective value will be very different from the biomass flux. So it's not a bug.

[2020-02-18 17:38] pstjohn commented on #847
Just to chime in on this, there's a non-negligible overhead in invoking the multiprocessing pool; at least there appears to be on my recent macbook pro installation of cobrapy.

`Configuration().processes` gets set to 8 by default.
For a fairly small model, I'm getting the following results:

[code]
[code]

[2020-02-18 17:43] Midnighter commented on #847
There definitely is a sizeable overhead involved in creating multiple processes. That is to be expected. Especially, if your number of exchange reactions there is rather small. 18 seconds seems extremely long, though. Do you have any suggestions? Should we create a warning? I typically don't like to try to be too smart, i.e., I wouldn't like to automatically decide the pool size based on the numbe

[2020-02-18 17:44] Midnighter commented on #847
P.S.: What is the time required if you set `processes=4` which I guess is the number of your physical cores rather than hyperthreads.

[2020-02-18 19:28] kikyo91 opened #936 "The sbml model is valid and cannot be read"
#### Problem description

I'm trying to use the function `cobra.io.sbml.read_sbml_model` to load a sbml model that I generated using function `cobra.io.write_sbml_model`. The model passed the online SBML validator checking, though warnings exist for lacking assigned initial values to metabolites.

If I generate the model with `cobra.io.write_sbml_model` and then load the model with `cobra.io.sbml.

[2020-02-18 21:18] cdiener commented on #935
This is true in general but not for `loopless_solution` where it is set to be the old objective expression https://github.com/opencobra/cobrapy/blob/06f86dcc11f39200a8293d501334417c17b5b477/cobra/flux_analysis/loopless.py#L179. So it does look like a bug. I can reproduce the problem and it is due to the constraint that I set for `loopless_objective` which is essentially free and creates some probl

[2020-02-18 21:27] cdiener commented on #847
In my experience the multiprocess overhead is usually due to the initial pickling of your *entire* environment and sending this to the new processes. So it is important to run those benchmarks in an empty Python environment. For reference I do see that on my Mac as well but with not that large of a discrepancy, and it becomes negligible for larger models.

[code]

[2020-02-18 21:54] Midnighter commented on #936
JSON model writing and loading does not do the same kind of validation checks that SBML does. So I'm sorry if that has added confusion.

This part of the validation is quite explicit:
[code]

It looks also like there are some encoding issues at play? Can you say where you first got the model from?

[2020-02-18 22:06] kikyo91 commented on #936
The original model was downloaded from Ecocyc database and have this header `<?xml version="1.0" encoding="UTF-8"?>`. I couldn't find anything exactly like "M\x0545\n45__METHENYL-THF_c", but the "METHENYL-THF" hit only 1 record, as following:

[code]

Thank you for your response!

[2020-02-18 22:40] cdiener commented on #936
Looks like a problem with capturing the special characters. SBML often tried to convert special symbols by `__[ASCII code]__`. So `__45__` is a dash (`-`) for instance. You can see this in the parsed expression. The dash between "METHENYL" and "THF" got parsed correctly but the dash at the beginning of the ID did not. The target ID is probably `BIOCYC: 5-10-METHENYL-THF`. The problem is the leadin

[2020-02-18 22:49] kikyo91 commented on #936
This make lots of sense, thank you! I'll go change those ids and see what happens.

[2020-02-19 00:37] kikyo91 commented on #936
Yes! I changed the "__45__" to "_" in the original file, and the problem solved. It would load no problem.

[2020-02-19 05:34] cdiener commented on #936
Awesome! We'll probably keep that open because SBML round tripping should always be possible or give an error during parsing.

[2020-02-23 10:28] Hemant27031999 opened #937 "Loss of relation elements in annotation when writing a SBML model again."
## Problem Description
If we read a SBML model, from the corresponding XML file and write it back, then, if the annotation field of some component had more than one relation elements like "is" and "hasTaxon", they are lost and only one relation element exists in the newly written model, with all resources listed under it.

## Code Sample

I took the e_coli_core.xml model present inside the data di

[2020-02-23 19:19] matthiaskoenig commented on #937
Yes, this is a known problem with the annotations. The main problem is that the storage of the annotations is much to restrictive in cobrapy at the moment (this comes mainly from the JSON model exchange format which only allows simple list of annotation terms).
The issue is discussed in https://github.com/opencobra/cobrapy/issues/684.
We basically need a much richer internal annotation format in c

[2020-02-24 15:29] matthiaskoenig commented on #936
I will have a look at the issue.

[2020-02-26 16:48] akaviaLab opened #938 "Reactions are unaware of groups (and subsystems)"
#### Problem description
The model has groups that contain members (list of reactions).
However, the reactions do not have a groups field, and the subsystems is always an empty string.
I think it should behave like genes, where reaction has a set of groups and relevant functions _associate_group(self, cobra_group) _dissociate_group(self, cobra_group)

If that's approved, models that include groups

[2020-02-26 18:00] gregmedlock commented on #938
I think the main implementation concern is being careful with circular references as much as possible so that deletion and addition of objects doesn't mangle group membership. This is probably why _associate_gene and _dissociate_gene are written as "private" methods.

I think this would be a welcome feature but would require a lot of work on the API (and might seem weird if functions for associati

[2020-02-26 22:29] akaviaLab commented on #938
I'm a bit confused.
I wasn't planning to use _associate_gene, just make an equivalent for _associate_group, which I guess will be private as well.
Are entities other than reaction associated with groups?

[2020-02-27 00:30] cdiener commented on #938
It's true that `Reaction.subsystem` is a relic of SBML 2 times. We had a lot of bugs because of multiple references as @gregmedlock mentioned when we introduced the context managers. This is why I pushed for a "single source of truth" model where only one entity tracks connections between objects. A metabolite does not know what reactions it belongs to. `Metabolite.reaction` actually goes through

[2020-02-28 08:33] matthiaskoenig commented on #938
Quick input:
- yes, other objects then reactions are in groups, in the context of cobrapy the relevant objects are `reaction`, `species`, `gene`, `compartment` (and could also be a GPR).
- single objects can be part of many groups, i.e. a species like `atp` could be in many groups.
- groups can be hierarchical, i.e. groups could contain other groups

Groups are much more powerful then the `subsyst

[2020-03-03 14:09] PkiwiBird opened #941 "try lowering the integer_threshold"
I'm using gapfill function after applying FASTCORE.
On some models gives the error:
[code]
I opened the gapfilling script and changed the value to values below 1e-6. But got same error even after changing to 1e-100. So, then I removed from the script the following:
[code]
It worked fine, but after adding the gapfill suggested reactions to the model the model was still infeasible `model.optimize().

[2020-03-03 16:38] Midnighter commented on #941
Can you describe how exactly you did that? Typically, solvers have a limit at 10^-9 or 10^-10. Otherwise @cdiener might be able to provide more insights.

[2020-03-03 17:56] cdiener commented on #941
Hmm, hard to tell without seeing more of what was done. Could be number of things. The error means that it can't gapfill (no addition of reactions allows flux through the objective).

Did you impose a lower bound on your objective or any other flux that prohibits it from being zero? The infeasibility error suggest you may and that may be a problem for gapfilling as well. Does the universal model h

[2020-03-03 18:16] gregmedlock commented on #941
Also check for duplicate reaction IDs across the universal and
model—duplicate IDs for reactions with different bounds can lead to this
issue (although should have raised warnings along the way).

On Tue, Mar 3, 2020 at 12:56 PM Christian Diener <notifications@github.com>
wrote:

--
Greg Medlock, PhD
Postdoctoral Research Associate
Moore Lab, Child Health Research Center
Department of Pediatrics,

[2020-03-03 18:57] PkiwiBird commented on #941
I created a copy of the script of gapfilling and replaced 1e-6 by 1e-100 on the line
[code]
I was using cplex, although here I provided models after doing `model.solver = "glpk"`
, cause in a previous issue Christian Dienner said he couldn’t unpickle model unless solver was glpk.

[2020-03-03 18:59] PkiwiBird commented on #941
The flux constrains are as shown in the pickle models I sent. I put all “EX_...” reactions going out by default, with bounds (0, 1000), except for bounds of experimental medium that I put as in excel added below. With these constrains the complete model was optimal when doing model.optimize().status, the incomplete model (to which I applied FASTCORE) gave the problems explained above
[RPMI_bounds_

[2020-03-03 19:03] PkiwiBird commented on #941
Don't think that's the issue cause even if I try to add a reaction that already exists says: 'Ignoring reaction .... since it already exists'

[2020-03-05 12:28] PkiwiBird commented on #941
Do you have nay suggestions or need me to provide any more info? if so please tell

[2020-03-06 16:31] gregmedlock commented on #941
I'm giving the models a look now, but gap filling has been running for ~3 hours and hasn't completed yet. I don't think this issue can be debugged without having a fully reproducible example. Have you verified that after a solution is found, the model fails to validate for these *exact* models? In your initial post, you said this occurs for *some* models; this may be a wild goose chase (requiring

[2020-03-06 16:33] Midnighter commented on #941
Thank you for digging into it Greg.

[2020-03-06 18:32] PkiwiBird commented on #941
thank you for your time.
the model I sent was the one that failed. However, I sent you the one stored in my laptop (uses a different solver) than the one I'm working with in the server.  Below is the one on the server.
‘model’ is the complete model
‘ModelFASTCORE’ is a dictionary with 4 models that had FASTCORE applied.
- ‘GSM553727’ is a model that is infeasible before gapfill, but then turns fea

[2020-03-11 13:01] Hemant27031999 commented on #736
I am working on my proposal for GSoC 2020 where I have to add the complete support for annotation in JSON format which, right now, have many issues. I have gone through the [SBML level 3, version 2 specification doc](http://sbml.org/Special/specifications/sbml-level-3/version-2/core/release-2/sbml-level-3-version-2-release-2-core.pdf) for annotation in section 6 and have figured out following thre

[2020-03-11 13:26] Midnighter commented on #736
Awesome, thank you for putting in the extra effort here @Hemant27031999. I have opted for format 2 in the pydantic models created in [cobra-component-models](https://pypi.org/project/cobra-component-models/). In particular, you can look at the definition of the [class for annotations](https://github.com/opencobra/cobra-component-models/blob/master/src/cobra_component_models/io/type/annotation_type

[2020-03-11 19:26] jccvila opened #942 "Extracting fluxes using slim_optimize"
So I though i would share an extensions to slim_optimize that has proven helpful for what i suspect is a fairly common task when performing FBA. I don't know if this is redundant, and am certain there are way to speed this up, but i can't find anything similar in the existing Cobrapy code.

As it currently stands there are two ways to do optimization in Cobrapy

1. Is to use model.slim_optimize()

[2020-03-11 21:38] Midnighter commented on #942
If you use the [get_solution](https://cobrapy.readthedocs.io/en/stable/autoapi/cobra/core/solution/index.html#cobra.core.solution.get_solution) function (it's admittedly hidden pretty deeply), you can extract fluxes for exactly the reactions and/or metabolites that you want. Maybe take a look if that serves your purpose.

On a side note: When you do benchmark you should use the [timeit functionali

[2020-03-12 13:16] vilacelestin commented on #942
So the problem with the get_solution function is that on top of spending time extracting dual values and shadow prices (which are unnecessary) it also runs.
[code]
which get the primal value for every reaction (digging into optlang.interface.py you'll see that this involves running.

```[variable.primal for variable in self.variables] ```

which can be less efficient than than only collecting the

[2020-03-12 17:52] cdiener commented on #942
`Model._get_primal_values` is overwritten by the specific interfaces in optlang. For instance for GLPK it uses a low level C function we added to swiglpk which gets all primals directly (https://github.com/biosustain/optlang/blob/13673ac26f6b3ba37a2ef392489722c52e3c5ff1/optlang/glpk_interface.py#L638 and https://github.com/biosustain/swiglpk/pull/22). When we benchmarked this, simply calculating t

[2020-03-12 18:32] PkiwiBird commented on #941
It is also happening when doing gapfiling for metabolic tasks.
If integer_threshold is 1e-9 gives error `try lowering integer_threshold` and if it's 1e-12 gives this error: `cobra.exceptions.OptimizationError: gapfilling optimization failed (check_original_solver_status)`

I leave here a reproducible example:
[ubuntu16.04_python3.5.2_cplex12.zip](https://github.com/opencobra/cobrapy/files/4325852/

[2020-03-12 20:32] vilacelestin commented on #942
I'm was using Gurobi which does not have it's own ```_get_primal_values``` and so defaults to the one used by otplang. This probably explains the big time difference. In my case calculating ```foward_flux - reverse_flux ``` (using numpy) is definitely not the limiting step. I'm not using GLPK because i've been getting some inconsistent solutions with very large models. Below is an updated version

[2020-03-12 22:29] jclachance commented on #781
I think all the explanations provided above are definitely key to make gapfilling work. Still, I tried using the gapfill function out of the box from COBRApy and while it worked for the example given in the documentation (deleting all reactions associated with f6p_c), it didn't work when deleting the reactions associated with another metabolite, say g3p_c.

I found a quick fix in the tutorial note

[2020-03-13 01:52] cdiener commented on #942
Reactions carry around their own list of forward and reverse variables. So iterating over reactions directly and doing something like `rxn.forward_variable.primal - rxn.reverse_variable.primal` may be faster. There is also `rxn.flux` so something like the following might be shorter to write:

[code]

If you really want the fastest way to get the solution then GLPK is the way to go. what do you mea

[2020-03-13 06:54] Hemant27031999 commented on #902
This issue is still unresolved. Notes attached with models are still not written to SBML. Can I work on this?

[2020-03-13 14:41] akaviaLab commented on #902
You're right. Reaction and metabolite notes are written, but model notes aren't.
The problem seems to be if hasattr(cobra_model, "_sbml"): in cobra.io.sbml._model_to_sbml

@matthiaskoenig  Why does _sbase_notes_dict(sbase, notes) require the sbase to already exist?

As far as I'm concerned, you can work on it, but you might want to make sure you understand _sbase_notes_dict(sbase, notes).

[2020-03-13 16:46] Hemant27031999 commented on #902
I think problem is not with "**hasattr(cobra_model, "_sbml")**". The __sbml_ attribute store the _notes_ and _annotation_ corresponding to the main SBML document. _Annotation_ and _Notes_ of models (present inside the SBML) are stored in **cobra_model.annotation** and **cobra_model.notes** respectively. In the method "**_model_to_sbml()**" where parsing is done, only _annotation_ is parsed from _c

[2020-03-13 18:05] vilacelestin commented on #942
Thanks for the suggestion. So i tested it using the same approach as above and your solution is actually still slightly slower than ```slim_optmize_v3 ()```

7.06 ms vs 21.6 ms for gurobi
14 ms vs 30.8 ms for cplex

I think there are a few reasons for this. One is that rxn.forward_variable.primal is less efficient than model.variables._dict[rxn_id].primal (for gurobi ) and is also less efficient t

[2020-03-13 18:27] akaviaLab commented on #902
Great!
Can you please add relevant tests to test_sbml.py?

Thank you.

Uri David

On Fri, Mar 13, 2020 at 12:46 PM Hemant_Yadav <notifications@github.com<mailto:notifications@github.com>> wrote:

I think problem is not with "hasattr(cobra_model, "_sbml")". The _sbml attribute store the notes and annotation corresponding to the main SBML document. Annotation and Notes of models (present inside the

[2020-03-13 21:12] cdiener commented on #942
I think this would have to be tested with larger models since in those ms ranges you are mostly benchmarking attribute lookups of Python object. Reaction.flux also uses model.variables[rxn_id] so the `_dict` method just circumvents a single attribute lookup. As for your example code there is a lot of stuff going on. First in cobrapy the actual model solved by the solver is already irreversible (th

[2020-03-13 21:15] cdiener commented on #902
Relevant prior discussions are here https://github.com/opencobra/cobrapy/issues/695 (also see the schema link in there).

[2020-03-13 21:34] Patrickens opened #944 "Copying model in HRSampler precludes changing it in the context manager"
#### Problem description

* **what** you tried to achieve,

__(1)__ I am sampling fluxes to later simulate isotopomer distributions using my own COBRApy wrapper.  I would like to dynamically apply constraints to a model using the context manager. I would like for the sampler to be usable with multiprocessing. In the example below, there are 5 reactions:

[code]
I would like to sample in such a way

[2020-03-13 21:59] cdiener commented on #944
Regarding (1), this will be hard. The directions spanning the sampling space directly depend on the constraints in the model so you need to generate the search directions anew every time to remain feasible. If you can come with an analytical solution for the the search directions you could directly modify `sampler.warmup` (the search directions) and sampler.problem (constraint matrices and bounds)

[2020-03-24 22:03] Midnighter commented on #902
Resolved by #943

[2020-03-24 22:03] #902 closed

[2020-04-08 16:01] hadrien-delattr opened #947 "Adding and removing a reaction to a model changes the solver's state"
#### Adding and removing a reaction to a model changes the solver's state

The action to add a reaction in a cobra model modifies the model beyond the presence or absence of the reaction itself. In the code below, a reaction (GLNabc) which had a flux of ~1e-16 in the "textbook" escherichia coli model from `cobra.test` has a flux of exactly 0 after another reaction is added then removed from the mo

[2020-04-08 17:30] cdiener commented on #947
This would be within solver tolerance. Do you have an example where the discrepancy is larger than 1e-6 and the solution should be unique? For all floating point solvers all flux values will only be accurate by about the value indicated by `model.tolerance`. This is in the nature of floating point operations. It is generally not possibly to clearly say whether a flux is exactly zero (https://bitba

[2020-04-10 00:01] waltersaj101 commented on #517
@cdiener is this issue fixed? I just ran into the same issue

[2020-04-10 03:38] cdiener commented on #517
Not yet because I do not have access to Matlab and nobody was willing to help out by testing the proposed fix and some example code in https://github.com/opencobra/cobrapy/pull/909. I you want to jump in and test the PR and whether pymatbridge still works we would definitely appreciate it.

[2020-04-12 05:53] Hemant27031999 commented on #684
Hi all, @matthiaskoenig @draeger @Midnighter @cdiener @ChristianLieven and other members of cobrapy.
As part of one of the possible GSoC 2020 project "[Implementation of SBML-JSON converter and SBML-JSON scheme](https://github.com/nrnb/GoogleSummerOfCode/issues/137)" upon which I am working, one of the important tasks is to add the complete support of meta-information (annotation and notes) to SBM

[2020-04-12 13:57] draeger commented on #684
Thanks for working this out, @Hemant27031999!

Question: Would splitting the identifier from the rest of the URI give much of an advantage?
Otherwise, one could directly ad the URIs in a list. The data structure could then be slightly simpler and the API could provide direct access to the ID part by splitting the URI when needed.

[2020-04-12 15:42] Hemant27031999 commented on #684
I was also thinking about it. Separating the identifier from the main URI is just bringing extra overhead and I really can't figure out what is the purpose of doing so? I Did it because, in the current version, they are separated first and then put into the JSON. I thought that maybe, the members wanted to be more verbose about the provider and identifier.
If there is no special purpose of separat

[2020-04-13 08:07] Midnighter commented on #684
First of all, thank you for a well worked-out proposal. This looks very promising!

To me, this has always been about mapping data. A very typical format for metabolite concentrations, gene expression, or protein abundances is a simple table where one column is an identifier in a particular namespace and a second column contains values with a particular unit. I want it to be as easy as possible to

[2020-04-13 09:19] Hemant27031999 commented on #684
Sure @Midnighter, here is the link to the google doc: https://docs.google.com/document/d/1f0PknoPUpcWRHS8jljEOX5439us4ZD9qjNlbbfGk8Y8/edit?usp=sharing

[2020-04-13 19:20] cdiener commented on #684
I think the separation of provider and identifier is historically just there to push it into a key-value format. The key-value format was there since SBML is just one of the supported file formats and JSON and YAML do not impose as many restrictions on annotations as SBML. Many other libraries (BIGG, ME models, MICOM soon) use the JSON format because it is faster but also because it allows to add

[2020-04-13 19:36] draeger commented on #684
@cdiener: Just a very small comment on the side; custom annotations have been part of SBML since its inception. Here is an example from the SBML Level 1 Version 1 specification from March 2nd 2001 showing how to implement arbitrarily complex key-value pairs and more:
[code]

Now, with the next version of the FBC package, key-value pairs will become even more straightforward to use.

But @Hemant270

[2020-04-13 19:41] cdiener commented on #684
@draeger Oh, that is very cool. Could you point me to a doc link how to do that in SBML 3?

[2020-04-13 19:47] Hemant27031999 commented on #684
@cdiener, regarding the key-value storing way, we are going to have that also in the JSON format as this is one of the newly introduced feature in fbc-v3 package, the support of which is to be added in the JSON as part of milestone 1.1 discussed in the proposal. What I have discussed in this thread is only that part of annotation which refers to the external resources (basically the [CVTerm](http:

[2020-04-13 19:47] draeger commented on #684
Sure. In SBML Level 3 the element is called `<annotation>` (singular), but the principle is still identical. You need to define a namespace for your tool, here `mysim` is the tool and then some arbitrary URL-like identifier, here `http://www.mysim.org/ns`. And then you can write any key-value pair or other attributes into the annotation that you need.

Here is an example from [SBML Level 3 Version

[2020-04-13 19:49] cdiener commented on #684
Thank you! Will play around with that for MICOM a bit...

[2020-04-13 19:51] draeger commented on #684
@cdiener and @Hemant27031999: It is always the preferred way to use a data structure that is defined in the specification directly. The example for using custom annotations is only recommended to use in two fundamental cases:
1. You intend to express information that really can't go anywhere else at this time.
2. You want to try out how a future SBML extension package could store certain pieces of

[2020-04-23 01:04] waltersaj101 commented on #517
@cdiener I'd be happy to! Sorry for the delayed response. I can get to this next week sometime and I'll let you know what I figure out!

[2020-04-23 01:10] cdiener commented on #517
That would be great. For now it would be sufficient to run the code from my last comment in #909 and confirm that pymatbridge is still working. That does not require checking out the PR.

[2020-04-23 15:32] BenjaSanchez opened #950 "fix: inconsistency in the gene name storage in SBML files"
#### Problem description

As noted in https://github.com/SysBioChalmers/yeast-GEM/pull/216, currently there's an inconsistency with how cobratoolbox and cobrapy store gene names in the xml file: cobratoolbox uses the `fbc:label` field, whereas cobrapy uses `fbc:name`. The latter is used by cobratoolbox to store protein information.

#### Code Sample

_cobrapy:_
[code]

_cobratoolbox:_
[code]

####

[2020-04-24 00:52] cdiener commented on #950
Pinging @matthiaskoenig and @draeger for guidance. Thanks!

[2020-04-25 16:29] he-hai opened #951 "jupyter output not showing summary() within a "with" context"
#### Problem description
When I try to see the model.summary() within the 'with' context, the new version (0.17.1) doesn't give anything in the jupyter notebook output. Out of the 'with' context, it has summary output, a pandas dataframe like.

I tried with the old version (0.15.4), it did show the summary output within the 'with' context. (And actually I personally prefer the output format of old

[2020-04-25 17:42] cdiener commented on #951
This is a variant of #900. If you wrap it in a print, ergo `print(model.summary())`, it should work.

[2020-04-25 17:50] cdiener commented on #900
Do we have planned fixes for this? This has been broken since several releases so might be a good idea to at least do a workaround.

[2020-04-25 18:59] Midnighter commented on #900
Sorry, completely dropped off my radar. Please poke me again in mid May if I haven't submitted anything by then.

[2020-04-25 19:00] Midnighter commented on #951
Closing this issue in favour of #900. I hope to submit a fix soon.

[2020-04-25 19:00] #951 closed

[2020-04-25 21:00] cdiener commented on #900
Sure thing. Thank you!

[2020-04-26 09:32] he-hai commented on #951
It works. Thanks.
A further question: how can I let it show all the fluxes of the in_flux? Just like how it was in the old version?

[2020-04-26 10:01] he-hai commented on #900
Maybe a hint because it seems to work fine in the old version, please see below with version 0.15.4:

[code]
Output
[code]

[2020-04-26 10:34] Midnighter commented on #951
Please take a look at the `threshold` argument to the summary.

[2020-04-27 06:05] Hemant27031999 commented on #695
Hi all, @matthiaskoenig @draeger @Midnighter @cdiener and other members of cobrapy.

This thread looks best to discuss the implementation for adding the complete support for the notes field in cobrapy as part of [NRNB #137](https://github.com/nrnb/GoogleSummerOfCode/issues/137).

As of now, the notes field in cobrapy is supported in a minimal way only, relevant for constraint-based models i.e., st

[2020-04-27 06:59] Midnighter commented on #695
From my perspective it is desirable to have code that "upgrades" models (by moving information from notes to the correct fields) in libSBML directly. You can already read a level 2 model and save a level 3 one but specific annotation like GPR associations are not handled in the way that you describe. This is not a cobrapy specific problem, though, as it applies to any older SBML document and affec

[2020-04-27 18:13] Hemant27031999 commented on #695
@Midnighter, that sounds more promising. It will be better if this information is parsed by interfacing libraries, like libSBML and JSBML, themselves instead of specific end packages like cobrapy. That way would be more general. But I am not sure if it is possible to cover this implementation in libSBML under this project. Mentors, @draeger @matthiaskoenig, please provide your reviews.

Well, I am

[2020-04-27 19:30] draeger commented on #695
In the discussion so far we talked about how and where to store information. But you are right, @Hemant27031999 that JSBML, and I assume libSBML as well, contain converters from COBRA notes to FBC. This means, it is neither necessary to implement a parser for the notes again, nor a method to save the key-value pairs to a new place. Just the new key-value pair data structure is most likely not yet

[2020-04-28 19:06] bdelepine commented on #695
Hi all, and thanks @Hemant27031999 for working on this issue,

I agree with what was said by @Midnighter and @draeger, and I will just add a few words as a user.

As a user, I really just want import/export features of SBML notes with the possibility to read/modify the text glob within cobrapy. That's all. No fancy conversion. If there is any parsing, I can do it myself.

Taking back the example f

[2020-04-29 18:47] cdiener commented on #695
I agree with what most said here. Notes should just be read as string without any interpretation or parsing independent of whether they may contain tags or not. The notes parsing we had was to have compatibility with cobra models before SBML version 3. This can stay as legacy support but we should not implement any new notes parsers.

[2020-05-06 06:52] greenetarget opened #952 "Metabolite ID conversion"
I've downloaded a model (in xml) made by others, metabolites are in SEED ID (eg. dATP is id="M_cpd00115_c0" name="dATP[c0]"),

Is there a way I can convert these IDs into "datp_c" style that is commonly used in many E coli models? from which database?

(I'm very new to this, any help will be much appreciated! thank you!)

[2020-05-06 09:06] Midnighter commented on #952
Hi there,

The kind of identifier that you are looking for comes from [BiGG](http://bigg.ucsd.edu/). It is certainly possible to map SEED identifiers to BiGG ones but it may require a substantial amount of manual work since the identifiers do not always map 1:1.

A good starting point for attempting such a mapping is [MetaNetX](https://www.metanetx.org/).

[2020-05-07 02:04] #952 closed

[2020-05-07 03:04] kikyo91 opened #953 "Trying to replace a reaction metabolite with another metabolite ID"
#### Problem description

I am trying to edit my model metabolites in the reactions.

The model has different metabolite IDs for the same metabolite in a different compartment. For such cases, I would like to change metabolite IDs into one common ID. I can't find a function for editing the metabolites in the reaction. I also tried to change the metabolite ID using `model.metabolites[0].id = "h_c"`

[2020-05-07 06:55] kikyo91 commented on #953
Okay, here is my solution, I'm using `model.reactions[0].build_reaction_from_string("xx", term_split=' + ')` for editing the model reaction.

[2020-05-07 08:26] Midnighter commented on #953
Hi @kikyo91,

May I ask why you want to do this, though? The same metabolites in different compartments have different IDs so that the mathematical solver can distinguish them. If you remove this information, you are removing all compartments from your model. Is that your aim?

[2020-05-07 15:49] Hemant27031999 opened #954 "Discussion for Group feature in COBRApy"
Hi all, @draeger, @matthiaskoenig, @Midnighter, @cdiener, and other members of COBRApy. I am opening a new thread for discussing about the implementation of Group package in COBRApy as I could not find one best suited for this discussion.

Complete support for Group package has already been added in COBRApy to parse the group info to cobra models. Even if the information is present in the form of

[2020-05-07 17:09] cdiener commented on #954
Shouldn't SBO terms just be a part of annotations? How do you identify whether an element in the `members` list is a reaction, metabolite or group (in theory you may have one of each with the same ID in a cobra Model I think).

[2020-05-07 18:09] cdiener opened #955 "SBML parser converts IDs to invalid format"
#### Problem description

Reading a SBML model with ASCII codes in the IDs may generate invalid cobrapy IDs during parsing (for instance names including spaces).

#### Code Sample

That one arose in our group. A colleague wanted to read SBML model with the following species:

[code]

#### Actual Output

Will raise an error `"trans-2-Methyl-5-isopropylhexa-2,5-dienoic acid[c0]" contains whitespace

[2020-05-07 18:10] cdiener commented on #947
Closing since it has become stale. Feel free to reopen if there is a persisting issue.

[2020-05-07 18:10] #947 closed

[2020-05-07 18:11] #944 closed

[2020-05-07 18:13] cdiener commented on #912
This looks stale. Feel free to reopen if the problem persists,

[2020-05-07 18:13] #912 closed

[2020-05-07 18:14] #910 closed

[2020-05-07 18:16] cdiener commented on #897
This looks stale. Feel free to reopen if the issue persists.

[2020-05-07 18:16] #897 closed

[2020-05-07 19:21] kikyo91 commented on #953
I believe it is due to some bug (or shorthand form reaction ignore transmembrane steps) in my model. Some of the reactions used metabolites in a different compartment, this causes gaps for pathway, I was looking for a method to edit it in cobrapy, instead of the raw file, since it's easy to introduce errors to the sbml structure.

The compartment is generally helpful, but yes, I didn't find a good

[2020-05-08 02:38] #953 closed

[2020-05-08 15:07] Hemant27031999 commented on #954
I am sorry for not paying attention to that. In cobra models, SBOTerm of each component is put inside its corresponding annotation dict. So SBOTerm here also should be put inside the annotation. Thanks for clarifying that.

Well, I went according to the SBML specification doc which says that ID of a given component should be unique inside the complete XML document. But while making the cobra model

[2020-05-08 15:24] cdiener commented on #954
Yep, users also might create the model directly in cobrapy and I think the uniqueness constraint does not apply there. The typecode makes sense. Might be more readable to make it a string with only a set of valid values. JSON does not have enums right?

[2020-05-08 16:02] Hemant27031999 commented on #954
Okay, thanks for the clarification.

Ya, that would surely be more verbose.

We can have enums in JSON also, here it [goes](https://json-schema.org/understanding-json-schema/reference/generic.html#enumerated-values). We can define our enum for the type of referenced component inside the member dictionary in the JSON-schema (one of the main tasks of my project is to update the JSON schema also, so

[2020-05-11 23:09] draeger commented on #954
Just one remark about the uniqueness of identifiers in SBML: Certain IDs "live" in separate namespaces, e.g.,
* `UnitDefinitions`. It is therefore allowable to have a matching ID of a unit definition and some other model component.
* Furthermore, different rules apply with respect to scoping of objects. `LocalParameter` objects may have identifiers that shadow those of (global) `Parameter` objects

[2020-05-13 21:26] kikyo91 commented on #936
I also found that whenever I use the function `cobra.io.write_sbml_model` to write the model, it would write `__45__ `or `__44__` to the new .xml file, which are not in the input model, specifically in all groups, such as:

So far I am using .json file instead, but I thought it might be a good idea to post it here.

[2020-05-14 04:17] cdiener commented on #936
This is kind of expected. SBML has strict rules which characters can be in an id so it will replace invalid characters by `__[ASCII code]__`. So `,` becomes `__44__` for instance.

[2020-05-14 08:04] kikyo91 commented on #936
Ah, I see the problem. I'll do preprocessing converts the "-" into "_" for groups. Thank you!

[2020-05-15 18:33] Hemant27031999 commented on #856
Hi all @Midnighter @draeger @matthiaskoenig @cdiener. I just went through the above issue and found that it is still existing. I tried to convert the XML fbc_ex1 model from the cobrapy data directory to JSON and got the same error which says:

Here is what I have figured out. While [writing a model in JSON format](https://github.com/opencobra/cobrapy/blob/devel/cobra/io/json.py), the value passed

[2020-05-15 19:50] cdiener commented on #936
#955 is related to that, so maybe one could fix both in one go.

[2020-05-15 20:27] Midnighter commented on #856
The reason I set `allow_nan=False` at the time is that it is not part of the official JSON spec. Since the JSON format is used by more tools than just cobrapy (and I guess non-Python tools, too), I'm not sure I feel comfortable allowing that now.

How is this actually handled within the SBML definition?

A possible fix is also to use the `default=str` argument such that if there are any type error

[2020-05-15 21:28] cdiener commented on #856
I agree that this should only be done if the schema version changes as well.

[2020-05-16 19:37] Hemant27031999 commented on #856
The JSON schema surely needs to updated, and it is one of the tasks of my project. One thing which I want to point, and which has already been discussed in some other discussions on COBRApy as well, is about extracting the JSON schema out of the cobra.io.json file and be put at a place where others can easily find it out and provide their suggestion, somewhere like [here](https://github.com/openco

[2020-05-16 19:38] Hemant27031999 commented on #856
Also, regarding the "number" type in JSON, I just tested out a few JSON instances with infinity values against the JSON schema specifying the type to be of "number" type and the validation did not produce any error. Here is one example:
Schema:

[code]

JSON instance:
[code]

 I tested it using the python's validate method (and an online validator also) and everything is working fine. Now though i

[2020-05-16 20:34] draeger commented on #856
What I don't understand in this discussion is why the current JSON format prevents people from storing information just because solvers can't work with it. These are two different things. One is storing information, the other is solving a model. The solver will indicate to the user that it can't take a model with inappropriate bounds. But this does not necessarily render the data format invalid.

[2020-05-16 22:40] cdiener commented on #856
I think this has been fixed by now; optlang now supports free constraints. For me it's more the worry of breaking things for BIGG since they depend on the JSON schema heavily.

[2020-05-20 04:33] Hemant27031999 commented on #856
I wrote on JSON-schema slack channel to discuss why the "number" type is validating against the infinity and NaN values, even though the RFC document says that these values are not supported in "number" type to which they replied that some parsers allow these values, but it is not the standard JSON. Standard JSON doesn't have any explicit type which can cover these values so we have to ourselves h

[2020-05-20 22:16] draeger commented on #856
The second alternative is safer and has a higher chance to get correctly implemented by diverse tools that rely on the JSON format. If arbitrary `Strings` can be set in principle, the "validation" becomes more tricky because it has to be performed on the level of the application. Could `NaN` also be added to the enumeration?

[2020-05-21 04:25] Hemant27031999 commented on #856
Yeah, sure. We should add `NaN` also, the specification document allows `NaN` for the `double` type in SBML format. So we should have it in JSON also. I have updated it.

[2020-05-21 13:11] matthiaskoenig commented on #856
I think the main thing of importance is to version the JSON schema. I.e. the current version is version 1 which BiGG can work with.
But the version 1.0 is very limited and has many errors which makes it unusable for other use cases. E.g. the qualifiers of annotations are deleted resulting in completely incorrect annotations.
The plan is to create a version 2.0 of the JSON schema which fixes all th

[2020-05-21 13:18] matthiaskoenig commented on #955
I have no clue who inserted the corresponding code in https://github.com/opencobra/cobrapy/blob/devel/cobra/io/sbml.py
i.e.
[code]
but this exactly the problem one creates by randomly replacing things in ids. I am strongly against doing this!

[2020-05-21 13:27] matthiaskoenig commented on #954
* Yes, sboTerm should just be an annotation (one can easily get these out of the annotations later on as long as there is only a single SBOTerm)

These ids should be unique, but I think this is not enforced by cobrapy (but not sure about that). Non-unique ids will already create problems in creating groups, because the DictList will not work if different element have the same idea. Currently membe

[2020-05-21 15:16] cdiener commented on #955
Seems to have been pulled in with #901 and the reason was that cobratoolbox does it this way. I think for the direction of cobrapy ID -> SBML ID this makes sense since cobrapy has different specs for IDs. But I agree this should not be done for SBML -> cobrapy.

[2020-05-21 15:20] cdiener commented on #954
I am pretty sure that members are cobrapy objects and not IDs in that code, so that should be fine. References are still unique even if the IDs are the same.

[2020-05-21 19:44] Hemant27031999 commented on #954
Thanks for additional information @draeger. It was helpful.

Inside the group, the references are made only to those components which lie in the same namespace of the model to which the Group belongs. So I don't think so that any of these is going to be a matter of worry if we have `id` and `type` of the component stored with us, that will always be unique and won't ever create a problem.

[2020-05-23 09:27] matthiaskoenig commented on #955
Yes, I am aware why this is happening, but it just breaks things for the community as a whole. To apply arbitrary id replacements just breaks workflows, because people create ids to identify things and map things on them. If people arbitrarily change those ids in tools it is just bad practise. What currently is happening:
- the bigg database decided to have arbitrary prefixes on ids `M_`, _M`, but

[2020-05-23 09:29] matthiaskoenig commented on #955
See here documentation of the function:
[code]
so if you want to replace `a` and `e` just specify this in f_replace when calling the SBML parser, same for the ASCII things.

[2020-05-24 01:27] cdiener commented on #955
This still would not solve the cobrapy to SBML problem. "atp[c]" is a valid cobrapy ID but not a valid SBML ID. We could throw an error in this case but this would probably lead to users not using SBML and switching to JSON which is also not our goal I think. What would be your suggestion for this case?

[2020-06-05 15:32] math248 opened #960 "Biomass rate prediction differs from experimental data"
Hi everyone,
I am actually working on model at agenome scale of a green algae Chlorella Vulgaris. And we read on the article that in heterotrophy, the organism cannot take the acetate as a carbon source. But we have experimental data proving otherwise. And obviously when I run the model with the  acetate exchange reaction on and without the glucose the prediction is equal the 10-6 which is clearly

[2020-06-07 12:26] Midnighter commented on #960
Hi @math248,

There are two things that you can do:

1. Save the model with your custom defined medium back to SBML using cobrapy and then run the model through https://memote.io. That will give you insights into which biomass precursors are blocked and a lot more info that is helpful, too.
2. [You can gap fill your model](https://cobrapy.readthedocs.io/en/latest/gapfilling.html) using a suitable

[2020-06-22 23:27] achillesrasquinha opened #962 "Flux Coupling Analysis"
I believe cobrapy doesn't provide FCA out-of-the-box yet. Thought I'd initiate the discussion. Any request for having this? Would love to have a PR for the same.

[2020-06-23 17:05] PkiwiBird commented on #941
I encountered another similar problem.
This time:
1. I adapted the universal model for medium composition: I closed entry of metabolites in universal model except those of medium. the model produced biomass.
2. Applied FASTCORE to to universal model (not adapted for medium composition) and then adapted that reconstructed model to medium composition. Recontructed model did not produce biomass.
3. g

[2020-06-30 22:24] Fxe opened #963 "Gene Label is set equal to ID"
https://github.com/opencobra/cobrapy/blob/4129a13b0055477e85bec5c0c4e0cf72b4641c7c/cobra/io/sbml.py#L1055

Is this the expected outcome, that the gene **fbc:label** is equal to **fbc:id** ? Because the ID is mutated with prefix "G_" the label is also mutated, looking back at the models in BiGG (e.g., http://bigg.ucsd.edu/static/models/iML1515.xml) The ID is mutated with the prefix "format" (G_xxxx

[2020-06-30 22:58] matthiaskoenig commented on #963
@Fxe just import and export your model without any prefix changes. I.e. set the `f_replace=None` in the `read_sbml_model` and `write_sbml_model` functions.
My personal take on this is: Id replacements should be avoided at all costs and result in a ton of follow up bugs because different people expect different things to happen with id replacements. All this id replacement code is in there because

[2020-06-30 23:26] Fxe commented on #963
The problem is that, you have to replace the ID just to safe guard that ID is a valid sbml id:
`SId pattern: (_|[a-z]|[A-Z])(_|[a-z]|[A-Z]|[0-9])*` (not sure if this is true for **fbc** but it should just for sake of consistency)

So, yes if I disable the replace function no prefix is added to either **fbc:label** or **fbc:id**, but this may cause problems if genes are numeric.

_Just some context

[2020-07-01 07:14] matthiaskoenig commented on #963
I agree. `label` and `id` are two totally different things. That is why it does not make any sense at all to try to create one from the other by arbitrary very subjective replacement rules. This is separate information which should be stored separately with no connection whatsoever. It is impossible to figure out from an arbitrary string which transformations are expected to get to the label.
To c

[2020-07-01 07:16] matthiaskoenig commented on #963
Sorry forgot: Yes, the following makes sense

But does not solve the underlying issue that `label` is something different then `id` or `name` and should be stored separately if there should be no information loss.

[2020-07-01 08:04] Midnighter commented on #963
I don't remember the details now but @BenjaSanchez recently worked on gene labels as he's trying to make the SBML output from the COBRA Toolbox and cobrapy be the same.

[2020-07-01 10:24] BenjaSanchez commented on #963
@Midnighter my issue #950 has to do with gene **names** and the fact that cobratoolbox stores them as `label` (but not as `name`), making it incompatible with cobrapy when the model is saved with one tool and loaded with the other. But IMO this is bad behavior on the cobratoolbox side, as using gene ids makes more sense.

[2020-07-01 10:30] matthiaskoenig commented on #963
@all I will tackle this issue within the week.
The clean way is to store and retrieve `id`, `name` and `label` for genes without messing/mixing these up. This will preserve the information. In case there is no `label` set on a gene we will fall back on the gene.id without any replacements, i.e. no prefix additions as suggested by @Fxe (and in my opinion the correct behavior if no label is set).

[2020-07-02 13:23] Melclic opened #964 "CPLEX Error 1236: Control character in string."
#### Problem description

Trying to open model of Y.Lipolytica iMK735 and returns the following error:

[y_lipolytica_iMK735.zip](https://github.com/opencobra/cobrapy/files/4864511/y_lipolytica_iMK735.zip)

[code]

I am not using the cplex library and still confronted with this error message. And in a docker environment where I know cplex is not installed I get the following error:

[code]

#### C

[2020-07-02 13:40] Midnighter commented on #964
My first question is, are you sure that you do not have CPLEX installed in the same environment? It would be very unusual for cobrapy to pick the CPLEX solver if it is not available.

[2020-07-02 20:10] Melclic commented on #964
I have tried it on multiple machines (where I admit there is cplex installed but not enabled in cobra), and have also tried it in a docker environment and an error occurs (although not the same one, updated the error report to reflect that).

[2020-07-02 22:05] cdiener commented on #964
I think this is related to https://github.com/opencobra/cobrapy/issues/955. The metabolite IDs contain ASCII placeholders that translate to an `@` sign which is not allowed in GLPK or Cplex IDs.

[2020-07-03 05:57] matthiaskoenig commented on #955
A large part of the community clearly stated SBML Level 3 and FBC is the way to exchange FBC models in the recent MEMOTE paper (https://www.nature.com/articles/s41587-020-0446-y), including @cdiener and key people in the COBRA toolbox. Having identifiers which are incompatible with SBML is a relict from 15 years ago when the COBRA toolbox first started. Now enforcing an out of date convention whic

[2020-07-03 06:05] matthiaskoenig commented on #955
And just a side note. Valid SBML identifiers would also solve many other issues out of the box such as the CPLEX problems or autocompletion of variables (#828). Most tools expect id strings which would be valid variable names in the respective programming languages, i.e. not starting with `_`, no special characters, not starting with `[0-9]`.

[2020-07-03 06:42] matthiaskoenig commented on #955
Just have to put the sentence from the memote 2020 paper here. Basically all of the cobrapy core developer are on the paper with the clear statement:

Highly encouraging the use of SBML compliant ids should be the right thing to do here.

[2020-07-03 07:02] Midnighter commented on #964
This is not very transparent but cobrapy will pick CPLEX over GLPK if it is available in the environment. Regardless, @cdiener points to the heart of the matter.

[2020-07-03 07:10] Midnighter commented on #955
While I agree with your points on warning about invalid identifiers @matthiaskoenig and I certainly stand by the above support for SBML, we also have to face the reality that there are hundreds (thousands?) of models that follow the old conventions. I certainly don't expect every user of such a model to go and fix the IDs (especially since it is so unclear how and where they should do so in a sust

[2020-07-03 12:59] HediaTnani opened #965 "couldn't find the equivalent of GIMME to work with cobra.py"
#### Problem description

Hi. I'm trying to find the equivalent of GIMME in cobra toolbox to work with cobra.py. Can you help me please?

[2020-07-03 14:07] Midnighter commented on #965
Hi @HediaTnani, GIMME is not natively in cobrapy. You can find it in driven

[code]

however, you should be aware that driven is still in development and not supported.

[2020-07-03 14:08] Midnighter commented on #965
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2020-07-03 14:08] #965 closed, assigned to nobody

[2020-07-03 20:47] cdiener commented on #955
I don't think I advocated for not using SBML in my previous statement. On the contrary, I want people to use it whenever possible. I don't think that attacks on the community or me are conducive to reaching that goal. I rather asked for your advice on how we should treat this.

FWIW my preference would be always load IDs without modification from SBMl models and provide helpers to convert them to

[2020-07-03 21:14] matthiaskoenig commented on #955
Definitely backwards compatibility and reading of old models is a big
issue. Having too many warnings is definitely detrimental to user
experience, but at least one warning making aware of the problem when
reading such old models should be shown to the user. Not sure if we could
have something like a strict flag or something similar which would enable
more strict warnings which can be disabled if

[2020-07-04 06:04] HediaTnani commented on #965
Thanks a lot.

[2020-07-04 10:43] Midnighter commented on #955
R has this functionality where it collects many warnings and one can call `warnings()` to see them at a later point. Maybe we could issue different warnings, like "There were 99 problems with metabolite identifiers. Please run validate_sbml_model if you want to see the details.". What do you think?

[2020-07-07 08:21] jmol0917 opened #966 "Nutrients added to media are not consumed but growth does occur"
@cdiener

I have been using the models in AGORA and a range of media formulations to test growth/no growth. At the moment I am doing this with a group of reactions that correspond to what we know as 'human vitamins'.

The way I am doing this is that I create vitamin-free media and test growth. Then I add one of the reactions in my list of 'vitamins' and test growth again. Then I add another vitami

[2020-07-07 09:33] Midnighter commented on #966
The summary does not show very small fluxes by default. There are probably fluxes very close to the solver's threshold when there is growth. You could try to use the exact solver (it will take much longer), to confirm this.

[code]

[2020-07-07 22:47] cdiener commented on #966
Hi, I think the indenting got messed up when pasting the code so it does not run for me. However, the second example seems to what you programmed it to do. This is because of the line `rich_media = pd.concat([rich_media, new_ingredient])` which adds the nutrient and then updates the rich medium permanently with that component added. So the next component will be added cumulatively. After you added

[2020-07-07 23:53] jmol0917 commented on #966
Thanks for all the help.

I have attached a .txt version of ```rich_media_no_vit``` to this post.

I am aware that I am stacking vitamins with every iteration. In this sense, the first iteration would have only one vitamin but the second one would have two vitamins of my list and so on. I am doing things this way because I found out that if I add one vitamin, test for growth and then remove it bef

[2020-07-08 09:12] matthiaskoenig commented on #955
@Midnighter This sounds great. I was thinking in the same direction. This will also speed up the parsing of models with many warnings because we are not printing all the warnings, but just the overview warning. But it should be easy to get to the full set of warnings and issues with the model.

[2020-07-08 18:12] cdiener commented on #966
I see. This is because you are checking with the wrong sign. In AGORA exchange reactions are formulated in the *export* direction:

[code]

So an import flux would be <0 (negative sign). Some of those components can also be exported (medium only restricts the import flux) so those are the values you are seeing.

I could no fully run an example with your media since you seem to use an old AGORA ver

[2020-07-09 21:04] Midnighter opened #967 "Extracting core functionality into a separate package"
Hi,

I'm trying to gauge the general interest in and start a discussion around extracting some of cobrapy's core functionality into a separate package. The goal of the new package would be a faithful Python representation of an SBML model, as well as covering seamless input and output of models; importantly without requiring mathematical solvers.

I have written down my motivation and tried to exp

[2020-07-10 08:21] Midnighter opened #968 "Renaming master branch"
Hey @opencobra/cobrapy-core in going with the times, I propose to rename the `master` branch to `stable`. If I don't hear objections within a week or I get a bunch of thumbs up, I will go ahead with this.

[2020-07-10 09:06] cdiener commented on #900
@Midnighter quick reminder.

[2020-07-10 09:07] cdanielmachado commented on #967
Hi @Midnighter,

In general, I think this is a good idea and it might be easier to convince the community to extend a common core library than to convince everyone to adopt cobrapy.

Here are a few comments/concerns:

- There is already one Model class that is "a faithful Python representation of an SBML model", that is the SBML model class from the libsbml API. Anything else we develop would be a

[2020-07-10 09:23] Midnighter commented on #900
I started working on this this morning :wink: Must be telepathy.

[2020-07-10 10:02] Midnighter commented on #967
While I agree that the libSBML Model class is, of course, the authoritative source, it's purpose is to provide functionality for exchanging information. It is not the right place to implement your 'business logic' and in fact, none of the modeling frameworks use it that way.

The purpose I had in mind for this class is to be a parent to a constraint-based model class, as a hypothetical example,
`P

[2020-07-11 15:10] draeger commented on #967
There are many excellent ideas here, and I am happy to see such eagerness in implementing this:
1. Separating the data model from the application-driven library COBRApy makes a lot of sense and will improve its reuse.
2. Being able to serialize SBML to file formats other than XML is very handy, given the use-cases outlined above. @cdanielmachado please note that SBML is mainly concerned about the

[2020-07-13 08:54] matthiaskoenig commented on #967
Hi all,
1. SBML is and should be always considered the truth for the model. So having all features from the SBML in the cobrapy core classes which are relevant for FBC should be a priority.
2. The core is already separated very well from the rest of cobrapy by having it in a separate module. I don't see any additional need for separation.
3. Simulation is part of the checking of the core classes,

[2020-07-13 09:59] cdanielmachado commented on #967
I think @Midnighter's suggestion for having a core metabolic modeling class as an independent package rather than an independent module inside cobrapy is an attempt to bring together all the python community developing metabolic modeling tools in python which for whatever reason prefer not to use cobrapy.

I compiled a list (already 2 years ago, so it might be incomplete) of constraint-based metab

[2020-07-13 12:47] pstjohn commented on #967
It might be a good chance to merge some of the ideas from #394 as well, specifically having a more hierarchical view of reactions, metabolites, and models that allow components to be re-used. But the thought that it would be one package to rule them all does feel a bit like the standards problem...

![](https://imgs.xkcd.com/comics/standards.png)

[2020-07-13 13:32] matthiaskoenig commented on #967
Yes, it makes sense if some of the other packages/tools would adopt such a common data structure (but I don't see this happening). SBML is the existing exchange standard for models.
I don't think there will be a common standard for the internal data structures (and don't see any need for that). Many of the tools are 1 man shows which have not been updated in years (e.g. https://github.com/linsalro

[2020-07-13 13:33] Midnighter commented on #967
@matthiaskoenig some of the points I would have answered were already made by @cdanielmachado :slightly_smiling_face: Additionally, I think you highlight an important design choice with the following point:

In how far is this really necessary and how much validation is already done by SBML itself for us? I certainly see a few use-cases for a package without any solver implementation:

1. The abov

[2020-07-13 15:46] cdanielmachado commented on #967
Maybe we could have a survey to see how many of the "one-man shows" would be willing to jump into such a common project.

Speaking for myself, I started (re)framed in 2012 because I was not happy with the messy structure of the cobrapy modeling classes (and multiple other design decisions), which in my opinion could only be solved by writing something from scratch.

I have discussed with the cobra

[2020-07-13 19:36] gregmedlock commented on #941
Hi @PkiwiBird I'm still tracking down the problem. To simplify things, I am using a smaller universal model which only contains reactions that are missing from `model2` *and* are active in a pFBA solution for `model1`. I am able to get feasible gap filling solutions when I do this, but the model does not pass the `validate()` function. One problem is that there are gap-filled reactions in the solu

[2020-07-13 20:18] Midnighter commented on #967
I intended this as a clean slate discussion because I think that an implementation of a core package that closely follows SBML leaves plenty of creative freedom to build on top of. This is not conducive to this discussion but since you had to bring it up, I cannot let your framing here go uncommented.

In the time that I have been part of this project, the initiative to discuss potential ways to b

[2020-07-13 21:52] cdiener commented on #941
Hi @gregmedlock, could you give an example for

...because I don't fully get that yet.

Also for GLPK integrality and optimality don't do anything anymore since GLPK removed those from it's interface and now uses some other convergence measures which differ between solution methods (LP, IP, MIP).

[2020-07-13 22:01] cdiener commented on #967
For me @draeger summarized my own sentiments perfectly. I think having cobrapy interact with an intermediate data model would fix a lot of issues. And being able to chose different serialization back-ends would be a game changer for a lot of our projects.
I would probably keep this layer as a purely data-oriented one though with the leanest modification abilities possible. Model modification can o

[2020-07-13 22:05] gregmedlock commented on #941
Yes, will post the example early tomorrow. To clarify, there is flux through the reaction in the solution, but the indicator variable for the reaction has a primal of 0.0. I will see if I can use both GLPK and CPLEX in the example.

[2020-07-14 17:39] cdiener commented on #962
Yes that would be in scope (see https://github.com/opencobra/cobrapy/wiki/Scope). Did you want to get on this?

[2020-07-14 19:38] matthiaskoenig commented on #967
Hi all,
great discussion. Perhaps we should have an online meeting/survey about
this.

@Daniel Machado Your code looks like a duplication of the cobra core model
with the exception of the first class `Compartment` object which I want to
see forever in cobrapy (but did not happen so far). So definitely one
candidate use case (especially if you get all the model IO for free).

I did not want to soun

[2020-07-14 23:43] gregmedlock commented on #941
I've attached a Jupyter notebook demonstrating the issue with indicator variables have 0.0 primal values even when they have flux in the gapfill solution. The only thing I could do to reproducibly resolve the problem was enabling presolve in GLPK (through `model.solver.configuration._iocp.presolve = 1`).

I guess this is a scaling issue that there won't be a generalizable solution to, but I would

[2020-07-15 06:38] Midnighter commented on #941
Is there a good reason that speaks against using `model.tolerance` which sets the same value on all available tolerances?

[2020-07-15 08:06] bdelepine commented on #967
Hello all,

Thanks for such a nice discussion!

As a COBRApy user, I lean on the side of @matthiaskoenig:

- no (obvious) need for a new package,
- faithful implementation of SBML model within COBRApy is critical,
- (while it's a beautiful idea) I'm sceptical too in the feasibility of getting "one-man shows" onboard,
- and the priority should be to list the reasons why "one-man shows" did not inhe

[2020-07-15 15:41] gregmedlock commented on #941
@Midnighter in practice I always see the integrality tolerance set 1-2 orders of magnitude higher than other tolerances, but I'm not sure why. Just using `model.tolerance` to set all tolerances based on the user-passed `integer_threshold` seems like a safe default approach to me (at least for gapfilling)... In the worst case, solve times would be longer, but I think finding a real solution is more

[2020-07-15 17:42] cdiener commented on #941
I think we should probably fix the optlang tolerances for MIP problems. This is what you could set on GLPK MIP problems:

[code]

I think always using the *MIP* presolver is fine. For LPs this can affect convergence negatively.

[2020-07-16 22:40] Midnighter commented on #968
Done.

[2020-07-16 22:40] #968 closed, assigned to nobody

[2020-07-17 21:37] #787 closed

[2020-07-17 22:23] Midnighter opened #970 "Upgrade the documentation"
The documentation is broken (again). In order from most to least important, I think the following points might address this:

1. Instead of generating the auto API documentation on readthedocs and mocking the dependencies, I think we should just make it part of the release steps to generate the API docs locally where all dependencies exist.
2. In order to avoid bad surprises later, building the do

[2020-07-17 22:27] Midnighter opened #971 "Fix all stylistic and docstring issues reported by flake8"
So far, we have been using pep8 for style checks. This has been deprecated for ages and I finally replaced it with flake8 in #969. However, flake8 checks are much more extensive and pedantic so there are many issues to fix. Currently, flake8 is ignored during continuous testing which should be remedied as soon as possible.

This is a big clean up effort and will touch almost every module.

[2020-07-17 22:32] Midnighter opened #972 "Upgrade code base to pure Python 3.6+"
We decided some time ago to drop Python 2.7 and only support 3.6 and later versions. Our legacy codebase offers many opportunities for cleaning up old syntax.

---

## Check List for Upgrading Modules

* [ ] remove file encoding shebang `# -*- coding: utf-8 -*-`
* [ ] carefully evaluate imports and remove compatibility imports (typically remove all imports from `__future__`)
* [ ] remove `object`

[2020-07-17 22:35] Midnighter opened #973 "Extract the load_model functionality from cameo"
This one is long overdue and should finally conclude the proper separation of cobrapy and cameo (as far as I remember). Making a good implementation of load_model in cobrapy will increase its user friendliness a lot and means that we can get rid of the nasty `cobra.test.create_test_model` from our documentation.

[2020-07-17 22:59] Midnighter opened #974 "Move the test suite out of the source tree"
There are many problems that occur when test code and source code resides within the same tree. Imports are not very predictable. We should also do away with `__init__.py` modules since pytest doesn't need them.

Arguments for moving out tests:

* Recommended by the [official sample project](https://github.com/pypa/sampleproject)
* Official suggestion by the [hitchhiker's guide](https://docs.pytho

[2020-07-18 11:20] matthiaskoenig commented on #974
I am strongly in favor of this. Has no downsides, only advantages.

[2020-07-18 11:22] matthiaskoenig commented on #972
Can we please just say from now on all new code contributed only has to support py3.6 and later! This would make contribution so much easier instead of having always to add legacy things.

[2020-07-20 13:10] PkiwiBird commented on #941
Hi, I wanted to try your suggestion, but now I can't even read the models.
It gives this error:

*Traceback (most recent call last):  File
"C:\Users\Tania\.conda\envs\models\lib\site-packages\cobra\io\sbml.py",
line 213, in read_sbml_model    **kwargs)  File
"C:\Users\Tania\.conda\envs\models\lib\site-packages\cobra\io\sbml.py",
line 315, in _sbml_to_model    cobra_model = Model(model.getId())  Fi

[2020-07-20 14:26] PkiwiBird commented on #941
@gregmedlock: I tried and when running `gapfiller.model.solver.configuration.tolerances.feasibility = 1e-10` gives error:
`Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/home/tania/anaconda3/envs/py_3.5.6/lib/python3.5/site-packages/optlang/util.py", line 289, in __setattr__
    self._functions[key][1](value)
  File "/home/tania/anaconda3/envs/py_3.5.6/lib/python

[2020-07-20 14:47] gregmedlock commented on #941
@PkiwiBird try with GLPK as your solver, or increase the values to within the acceptable range for CPLEX (don't know these off the top of my head, but we will update the warning messages to return the acceptable range).

[2020-07-20 15:17] PkiwiBird commented on #941
It worked! Thanks!

[2020-07-21 11:10] dotPiano commented on #967
Hi everyone,

Nice to see such an active discussion!
I'll add my view as well:

- In general, I like the idea of a solver-free model class. Before settling for cobrapy I was actually looking for a package with a base model class that acts as knowledge base/IO rather than as knowledge-methods hybrid. Design opinions aside, I cannot even benefit of the integration with optlang, since optlang does no

[2020-07-21 16:21] eladnoor commented on #967
I think that the question of whether to have the core as a separate package, or as part of the same package with "extras", is a minor design issue. After all, why can't two packages be supported by exactly the same people (and even be maintained in a single git repository).
On the other hand, wouldn't making it a separate package make it more likely to be used by other projects that only need the

[2020-07-21 18:50] synchon commented on #972
I can work on this one. Is it okay if I assign myself?

[2020-07-21 19:37] Midnighter commented on #967
Baudoin's suggestion does indeed cover this because a normal installation of cobra would in that scenario only install the minimal dependencies. I must admit that I am not in favour of this, though, because many users have enough trouble with Python and package installation already. If we additionally tell them, "oh, FBA only works if you also install xyz" I'm afraid it will add to the confusion a

[2020-07-21 19:41] Midnighter commented on #972
Absolutely, but please don't feel the need to convert everything at the same time. I think one PR per module would be a good strategy. As the @opencobra/cobrapy-core team, we should also strive to update code that we are anyway working on in order to fix a bug or implement a new feature. So I see this as a kind of continuous process.

[2020-07-21 20:49] synchon commented on #972
Yeah iterative upgrade sounds good. I'll start with the modules that are not being actively worked on right now.

[2020-07-25 11:02] PkiwiBird commented on #941
Hi, now I'm having another error when I try to gapfill for tasks:
[code]
- boundary reactions were knocked out in both universal model (modelMedAdapCopy) and reconstructed model with FASTCORE (reconstModel)
- a task was added to both models:
[code]
- with `model.optimize().status ` checked that universal model is 'optimal' and reconstModel is 'infeasible'
- so tried gapfill:
[code]
models with tas

[2020-07-25 11:05] matthiaskoenig commented on #941
The problem is that you have metabolites which don't have a compartment set. This gives a null reference when trying to write them in SBML. The error message could be better here, but the underlying problem are metabolites with no `metabolite.compartment` set in your resutls. Probably the gap filling is not setting the compartments?

[2020-07-26 10:25] PkiwiBird commented on #941
Hi, by setting compartment for all metabolites as @matthiaskoenig suggested corrected the problem of saving in SBML (models bellow), but the gapfill error continues to show:
[code]
Could someone please help?
[models2607.zip](https://github.com/opencobra/cobrapy/files/4977463/models2607.zip)

[2020-07-26 13:08] Midnighter commented on #972
A check list of things to do as commented by @matthiaskoenig in https://github.com/opencobra/cobrapy/pull/975#issuecomment-663840911:

I would like to add here:

* [ ] format code with `isort` and `black`
* [ ] ensure that the code you work on passes flake8 as defined in the `tox.ini` (that means with plugins `flake8-bugbear` and `flake8-docstrings`
* [ ] update existing and add missing docstrings

[2020-07-26 13:29] Midnighter commented on #972
One point where we should agree on a common style is logging strings. We can either also use f-strings or C-style string formatting. So either

[code]

or

[code]

The advantage of the f-string is that it's easier to understand. The advantage of the old-style is that string interpolation only occurs if the log level is currently visible. So if you log, for example, an LP formulation to debug, the

[2020-07-27 02:16] cdiener commented on #972
I would also add using contexts where possible, in particular with `multiprocessing.Pool`. Right now code like FVA or sampling will leave dead processes on errors.

[2020-07-27 02:21] cdiener commented on #941
Have you checked that the universal model does not use demand reaction to be feasible? Also may be a problem with bounds. What happens if you lower the `lower_bound` argument?

[2020-07-27 07:40] synchon commented on #972
@Midnighter I find f-strings to be useful (for consistency) if we just have a simple interpolation, like so:

[code]
The performance trade-off is not huge and negligible. On the other hand, if we have something like:
[code]
The performance hit would not be negligible if `func_to_log()` requires some decent computation time and log is only logged at level `INFO`.

Looking at the code base, I don't

[2020-07-27 07:43] synchon commented on #972
@cdiener I have improvements for `multiprocessing.Pool` lying around in my local for quite some time now. Now, that we are moving to Python 3.6+, I'll push those.

[2020-07-27 09:56] PkiwiBird commented on #941
Lowering lower_bound to 0 worked, but I thought there should exist some flux through the objective function. Then using lower_bound = 0 is valid?
Universal model is feasible and reconstructed not:
[code]
But objective value of universal model is 0 while of reconstructed model is positive:

[code]

[2020-07-27 13:56] cdiener commented on #941
Yeah, I meant something non-zero but small like 1e-3 or less to see if the different bounds may be a problem.

[2020-07-27 15:25] PkiwiBird commented on #941
with low value, 1e-3, doesn't work. Maybe because the objective value of universal model with task (and remaining boundaries closed) is 0, which is lower than 1e-3.
From definition of passed task in literature: _"a model successfully passes a task if the associated LP problem is **still solvable** when the sole exchange reactions allowed carrying flux in the model are temporary sink reactions asso

[2020-07-27 18:22] cdiener commented on #941
The `lower_bound` does not define the lower bound on the biomass flux but the lower bound on your task, and that must have positive flux. See the definition above the phrase you quoted:

So if the gapfilling is only feasible with lower bound of 0 that mains that your task can not carry flux. However, that may also be the case in your universal model and in that case there is no gapfilling that wou

[2020-07-27 20:59] matthiaskoenig commented on #972
I clearly prefer f-strings.

Could you give a bit more details about the  `multiprocessing.Pool` issue.
Not clear to me what the suggested solution/patterns are here.

On Mon, Jul 27, 2020 at 9:43 AM Synchon Mandal <notifications@github.com>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for

[2020-07-27 21:26] davidtourigny opened #976 "SBML importer drops reversibility information for reactions not FBC format"
Hello

I am trying to create a cobra model using sample SBML files downloaded from [KEGG converter](http://www.grissom.gr/keggconverter/). The ``io`` method ``read_sbml_model`` is able to generate models from these files, but does not retain the ``reversibility`` attribute of reactions, instead setting all reactions as reversible because (I assume) upper and lower flux bounds are missing from the

[2020-07-27 23:32] matthiaskoenig commented on #976
@davidtourigny This is indeed an issue. Yes, we are only relying on bound information for now. I wanted to do a round of SBML bugfixes in the next days and will fix this issue in the process.

Basically, there should be minimal information loss in a round trip. Losing reversibility information is not an option. Thanks for the report.

[2020-07-27 23:36] davidtourigny commented on #976
OK thanks @matthiaskoenig . I will keep on eye out for your updates!

[2020-07-28 01:23] cdiener commented on #972
The pool can be [used in a with block in Python 3](https://docs.python.org/3/library/multiprocessing.html#module-multiprocessing.pool) which will cleanly remove processes even on errors or Keyboard interrupt. This was not possible in Python 2 and could lead to dangling processes (will not free memory sometimes and may raise other issues). Also we should set `maxtasksperchild` to avoid the memory l

[2020-07-28 08:26] PkiwiBird commented on #941
I checked and universal model has flux on all reactions of that task, when setting objective=biomass and also when setting objective to a reaction of the task.
To do the way you explained, how do we set the gapfill function to know which reactions are part of the task, do we set model.objective = task and then gapfill?
For the task above that would be ok cause there's only one reaction where lower

[2020-07-28 10:20] matthiaskoenig commented on #976
Could you share an example model so I can debug the issue?

On Tue, Jul 28, 2020, 01:36 davidtourigny <notifications@github.com> wrote:

[2020-07-28 11:29] davidtourigny commented on #976
Sure, here you go [sbml_hsa00010.xml.zip](https://github.com/opencobra/cobrapy/files/4987983/sbml_hsa00010.xml.zip). Others can be downloaded [here](http://www.grissom.gr/keggconverter/DownloadSamples.html)

[2020-07-28 15:19] cdiener commented on #941
Yes, exactly. This is how you would do this.

For more tasks this will be more involved. Basically you can run gapfilling consecutively on all your tasks. But other packages may provide support for that out of the box. I think @gregmedlock may have some suggestions and you may also find something in `driven`. CORDA also allows to specify tasks.

[2020-07-28 15:52] PkiwiBird commented on #941
the above reactions are all part of same task: Oxidative phosphorylation [in this file](https://github.com/SysBioChalmers/Human-GEM/blob/master/data/metabolicTasks/metabolicTasks_Essential.xlsx). If I understood well the suggestion is to run gapfill for each of the reactions; or is it to add all reactions of a task together and then gapfill several times, each time setting model objective to a dif

[2020-07-28 18:11] wintermute221 opened #977 "Exchange reactions found by command 'model.exchanges' cause confusion"
I tried to use `model.exchanges` to find all the exchange reactions in my model (yeast 7.6) so that I could look through and change their bound settings. However, the output of the command is a list of reactions which does not exist in the model as following:

[code]

In my model the reaction ID should be like r_1714 and never with a prefix 'EX'. I was a little confused with the result and wonder

[2020-07-28 18:21] cdiener commented on #977
The yeast model includes metabolites which are set as boundary conditions. So they will get an added exchange reaction. See https://github.com/opencobra/cobrapy/issues/811 for a more thorough discussion.

[2020-07-28 18:50] wintermute221 commented on #977
Thanks. It makes more sense to me now.

But I also came across another problem. I've made it display all the exchange reactions but I didn't find any 'original' reactions. That is, all the output reactions were the 'added exchange reactions' by metabolites with BoundaryCondition = true. I suppose there also should be other reactions such as r_1810 which is glycine exchange reaction.

[2020-07-29 08:41] Midnighter commented on #972
I agree, f-strings it is for logging, too. I will make an updated list with all the tasks at the top of this issue so it is clear what needs to be done without reading the whole thread.

[2020-07-30 14:08] gregmedlock commented on #941
The multi-reaction task makes a good case for separating `fix_objective_as_constraint()` from the initialization of `GapFiller`. @PkiwiBird, the "hacky" way to do this without modifying COBRApy source code would be to construct the `Gapfiller` object as you have been doing, then just remove the lower bound constraint on your biomass reaction and make sure the bounds are set on your task reactions

[2020-07-30 19:29] cdiener commented on #941
Oh I meant gapfill each task separately. So something like:

1. set objective as task 1
2. gapfill and create new model 2
3. set task 2 as objective for model 2
4. gapfill and get model 3
...

Setting them simultaneously has the caveat that one task might be impossible and that would fail the entire gapfill. Usually you want to just enable as many tasks as possible even though all of them may not

[2020-07-31 22:04] Midnighter commented on #853
As usual our documentation is lagging behind but this is now well under way.

[2020-07-31 22:04] #853 closed

[2020-07-31 22:25] #778 closed

[2020-07-31 22:29] Midnighter commented on #720
The basic problem was addressed by #956.

[2020-07-31 22:29] #720 closed

[2020-07-31 22:31] Midnighter commented on #482
Closing as it seems no longer relevant.

[2020-07-31 22:31] #482 closed

[2020-07-31 22:48] Midnighter opened #978 "Deprecation of pandas data frame frozenset indexing breaks our CI"
We have some consistently failing tests ~since the pytest 6.0 release~. https://github.com/opencobra/cobrapy/actions/runs/190607600

[code]

[2020-07-31 22:54] Midnighter commented on #966
This issue looks resolved from my perspective. Please feel free to re-open if this continues to be a problem for you.

[2020-07-31 22:54] #966 closed, assigned to nobody

[2020-08-03 18:14] cdiener commented on #977
This is the same issue. The yeast model defines exchanges as `A_ex -> A` where a `A_ex` is the boundary metabolite. There are no constant metabolites in cobrapy so this gets substituted by two reactions: `-> A_ex` (the actual exchange) and `A_ex -> A`. The previous behavior in cobrapy was actually to substitute this by `-> A` which is the behavior you are expecting, however this was considered bad

[2020-08-03 19:14] cdiener commented on #978
I'm on it. This has nothing to do with pytest but rather with pandas. We used frozensets as indices which is not supported by pandas. It worked before due to undefined behavior. See https://github.com/pandas-dev/pandas/issues/7787.

[2020-08-03 19:22] eladnoor opened #979 "FutureWarning raised when using Reaction.summary()"
When running Reaction.summary(), the following warning is generated:
`cobra/core/summary/reaction_summary.py:82 FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead`

This probably comes from this line:
https://github.com/opencobra/cobrapy/blob/573299b6d9c69ac5ada8008ded904c4f736f1dba/src/cobra/core/summary/reaction_su

[2020-08-04 10:07] Midnighter commented on #979
Thanks for the report. I will tackle this issue when upgrading the summaries as a whole (#900).

[2020-08-13 08:24] Midnighter opened #985 "Fix test cases that use deprecated behaviour"
There are a number of test cases that use deprecated bounds behaviour. We should change those cases to set both bounds at the same time.

[code]

[2020-08-13 08:30] Midnighter opened #986 "Make use of the public cplex package from PyPI that has limited model solving capabilities"
We should strive to test on all solvers and this gives us the ability to at least test with CPLEX in a limited setting.

[2020-08-13 18:14] #900 closed

[2020-08-13 18:14] #979 closed, assigned to Midnighter

[2020-08-18 10:59] Kevinkaiyan opened #989 "Failed to run FBA analysis on 'universal_model.json' of BIGG website"
Dear authors:
   I have downloaded the universal model data in JSON format from the BIGG website ([http://bigg.ucsd.edu/data_access]), and the model was loaded with the following code: `model = cobra.io.load_json_model('/home/yk/data/BIGG/universal_model.json')`.
Then it showed that the model was loaded normally and that the model contained 15,638 metabolites and 28301 reactions. But when model.op

[2020-08-18 11:09] gregmedlock commented on #989
Hi, could you share all of the code you are using for the task you described so we can reproduce the issue quickly?

[2020-08-24 08:11] #978 closed, assigned to cdiener

[2020-08-25 15:30] jeremymchacon opened #992 "cobra.test.create_test_model("salmonella") results in incorrect exchange reaction names"
Hello maintainers of the amazing package,

I recently updated cobrapy and am experienced unexpected behavior with cobra.test.create_test_model("salmonella")

Two things are unusual:

1) Now, many warnings are given during loading of the model, whereas none were given in a previous version.  Here are a few of the warnings:

`Model does not contain SBML fbc package information.
SBML package 'layout'

[2020-08-25 17:17] cdiener commented on #992
Related to #977 and #811. However our own test models should follow best practices which is not the case here. We should probably replace the Salmonella model with a more recent version.

[2020-08-25 18:48] jeremymchacon commented on #992
Thanks for the quick response @cdiener. Is there any way I can import the model currently provided and have it return expected ids etc. with the current cobrapy release? Or would it be best to load it in a previous version of cobrapy and then save it with fbcv2 (I think possible with write_sbml_model), then just load that generated file directly in the current cobrapy?

[2020-08-25 21:29] cdiener commented on #992
You can just prune away the boundary metabolites and reactions:

[code]

[2020-08-26 00:10] jeremymchacon commented on #992
Thank you, 'preciate it! Unrelated, took a look at your aquaponics BioArxiv paper, super cool stuff!

[2020-08-26 00:45] cdiener commented on #992
Thank you!

[2020-08-29 15:52] dotPiano opened #997 "Speed up FVA on Windows."
Hi,

FVA on Windows is very slow, even for small models. This is due to known limitations of the `multiprocessing` library, but it would still be nice to minimize the problem and reduce the runtime. On my system with 12 virtual cores FVA takes 44s for the `textbook`. With some profiling it appears that most of the time is spent initializing the process pool, in particular in `ForkingPickler.dump()

[2020-08-29 16:47] cdiener commented on #997
Pickling the model already saves a reduced version and should be fast on all platforms. Could you use the issue template to give us more info about your system? The solver also matters here. Is this using GLPK. How did you run the benchmark? Was this from the terminal in a fresh Python instance? The problem in Windows is that it will pickle the entire environment including all other objects create

[2020-08-29 16:48] cdiener commented on #997
We should make a benchmark action in the CI. That would be a good way to track those issues.

[2020-08-29 17:23] Midnighter opened #998 "Automatically run benchmarks using GitHub Actions"
_Originally posted by @cdiener in https://github.com/opencobra/cobrapy/issues/997#issuecomment-683314766_

What is a good interval to run this? With every push to devel? At every release (that seems too rarely)? Ideas welcome. It'd be nice to automatically visualize the results, too.

[2020-08-29 17:24] Midnighter commented on #997
Can this be controlled somehow by passing in a minimal environment, for example?

[2020-08-29 17:38] cdiener commented on #998
Do we have a limit on CI minutes? Every push seems fine. Maybe every push to stable if that is too much. I would also only run the benchmarks and not the other tests which should make it a bit faster. Then save the json and export as artifact so we can use it with the compare script we had at some point.

[2020-08-29 19:23] dotPiano commented on #997
@cdiener thanks for the answer and sorry for not using the template.

Here are the info:
[code]

The solver is Gurobi 9.0.1, and I ran the test both in Jupyter and using `python -m cProfile test.py` obtaining the same results.

[2020-08-29 20:09] Midnighter commented on #997
@dotPiano can you do me a favour and provide profiling information or timeit of `pickle.dumps(model)`, please?

[code]

[code]

[2020-08-29 21:50] cdiener commented on #997
Gurobi is really weird on pickling as well. I suspect you will see significant speedup if you use glpk.

[2020-08-30 08:11] dotPiano commented on #997
@cdiener I tried setting the solver to GLPK, but it doesn't seem to make a big difference:
[code]
[code]

@Midnighter Now things get interesting. I executed your code and get (using gurobi as solver again):
[code]

It seems like pickling by itself should not the problem. However, below in an example pickling the model the same way multiprocessing does based on [popen_spawn_win32.py](https://github

[2020-08-30 11:08] synchon commented on #998
I would say with every merge to `devel` and `stable` would be good options. With every merge to `devel`, we would be informed of anything weird and thus we can be sure of what to expect when we eventually merge changes into `stable`.

[2020-08-30 17:27] cdiener commented on #997
Looks like the bottle neck is communicating between processes then? You are not running an antivirus during that I assume. If it is interprocess communication this would be an OS issue we can do very little about.

[2020-08-30 17:35] Midnighter commented on #997
I guess this is the line where we could hope to do something. Not sure if it has a meaningful impact in your profile session @dotPiano ?

[code]

[2020-08-31 06:01] dotPiano commented on #997
Yes, I agree it's not cobrapy's fault. I don't mind using linux as workaround but I'm not sure whether this applies to the average cobrapy user.

I don't have access to my dev machine this week, I'll double check benchmarks and AV next weekend.

[2020-08-31 23:06] Midnighter commented on #998
Yeah, I think running benchmarks only on every push should be fine. Maybe only on the latest Python? Or only on 3.6?

Also, it'd be pretty cool to commit results to a `benchmark` branch and display performance over time as plots somewhat similar to the memote history report.

[2020-08-31 23:31] cdiener commented on #998
Latest stable Python sounds good (so 3.8 right now). Here is the script we used when we switched to optlang: https://gist.github.com/cdiener/f326c33f331b370c6596fcf83d9d4bb4. Hope it still works. Can you trigger actions when another action finishes? If yes this should not be too hard, I could take a stab at it if nobody else plans to. We could also push to the wiki instead of a branch. May be easi

[2020-08-31 23:52] Midnighter commented on #998
I was just thinking to use a separate workflow that runs on push. So it would run in parallel to the tests. Otherwise you can add another job like the release job but I think running in parallel rather than waiting after the tests is fine.

My reason for a branch was to be able to record and commit each benchmark result from devel but plotting the result to the wiki would be nice indeed!

[2020-09-01 00:03] cdiener commented on #998
Oh yeah, I initially though we need to combine the results across all OSs. But better to do it separately. I would have pushed the raw JSONs to the wiki as well.

[2020-09-03 18:26] davidtourigny commented on #976
Hi @matthiaskoenig by no means an effort to push you, but I was wondering whether it has been possible to make any progress on this issue or if it appears more complicated than anticipated? Please let me know if I can do anything to help out. Thanks!

[2020-09-06 14:45] dotPiano commented on #997
Hi,

finally I managed to test your suggestions.

@cdiener I tried disabling my AV (Windows Defender), but it made no difference. I agree it's an OS issue but I still hope we can solve this.

@Midnighter that line doesn't seem to take any time, the crucial part is the last line (`reduction.dump(model, to_child)`) which takes more than a second per model.

It seems like other people had the same pr

[2020-09-06 17:17] dotPiano commented on #997
Dumping an already serialized model also seems to help (still in the context of the example above):
[code]
[code]

This would be much simpler to implement and would not require creating additional files. If you think this is reasonable (for windows only) I can test it in cobrapy and make a pull request.

[2020-09-06 17:44] cdiener commented on #997
What happens if you put that line directly into the `__setstate__` and `__getstate__` methods of the model class? That this works is still very odd to me since what you do is the same thing as reduction.dump. well not exactly since you are missing the unpacking with pickle.loads... Is dumps followed by loads still faster?

[2020-09-09 19:13] asaldivar93 opened #1001 "find leaks with cardinality optimization"
I am working on a simple implementation of cardinality optimization to find all possible leaks and leak modes of a model, following [this tutorial](https://opencobra.github.io/cobratoolbox/stable/tutorials/tutorialLeakSiphonModes.html). Any suggestion/correction or help testing the code will be greatly appreciated.

The relevant code is [here.](https://github.com/asaldivar93/cobrapy/blob/feat-spar

[2020-09-11 10:14] dotPiano commented on #997
I am not sure I understand what you mean with setting `__setstate__` and `__getstate__`. Anyway, I tried to modify cobrapy to pass a pickled object to the new process instead of the object itself, but (as you probably expected) it did not make any difference.

I tried [this suggestion](https://stackoverflow.com/questions/62838490/slow-pickle-dump-in-python-when-using-multiprocessing) and pickled t

[2020-09-11 10:26] Midnighter commented on #997
You can customize the pickle behaviour of a class by, for example, overriding `cobra.Model.__getstate__` and/or `cobra.Model.__setstate__`.

Do the lines

[code]

include the calls made by the worker? So is the time increase there because you now unpickle the model in the FVA function? Can you please share your code modifications, otherwise it's hard to tell what is going on. I believe, unpickling

[2020-09-11 11:49] dotPiano commented on #997
Of course, the edited chunks are:

[code]

I did not modify `_fva_step`, so I expect unpickling to be done in `_init_worker` only. I'm a bit at the limits of my understanding of Python and of the profiler to understand exactly what happens in the two calls I mentioned above.

[2020-09-11 12:16] Midnighter commented on #997
Excellent, thank you. I will have to borrow a Windows system to investigate this further. It would also be great to implement #998 before doing so, although it is not necessary.